Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

fix(runtime): preserve terminal enclave index
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

refactor(federated): isolate the central RTI backend
  Cargo.toml
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang/src/static_federation.rs
  boomerang_builder/Cargo.toml
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/README.md
  boomerang_central_rti/src/client.rs
  boomerang_central_rti/src/lib.rs
  boomerang_central_rti/src/runtime_bridge.rs
  boomerang_central_rti/src/session.rs
  boomerang_central_rti/src/static_runner.rs
  boomerang_central_rti/src/test_trace.rs
  boomerang_central_rti/src/transport.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/lib.rs
  boomerang_federated/src/rti/mod.rs
Due: boomerang, boomerang_builder

fix(federated): make central RTI backend always-on
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/src/client.rs
  boomerang_central_rti/src/static_runner.rs
  boomerang_central_rti/src/transport.rs
Due: none

feat(codegen): generate strict federate launcher slices
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/fixtures/workspace/.cargo/sensor-slice.toml
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: none

feat(cargo-boomerang): publish federate artifact collections
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: none

test(cargo-boomerang): cover artifact collection validation
  cargo-boomerang/src/bundle.rs
Due: none

docs(federated): clarify backend boundaries
  README.md
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/federation.rs
  boomerang_federated/README.md
Due: boomerang_builder

docs(federated): state RTI ownership boundary
  boomerang_federated/README.md
Due: none

fix(deployment): harden federate slice validation
  boomerang_builder/src/compiler/compiled.rs
  boomerang_central_rti/src/transport.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/transitive-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/transitive-host/src/lib.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/workspace.rs
Due: boomerang_builder

fix(cargo-boomerang): preserve Windows build freshness
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/build.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
Due: none

chore: diagnose Windows bundle conflict
  .github/workflows/cargo-boomerang-toolchain.yml
  cargo-boomerang/src/bundle.rs
Due: none

chore: temporarily log conflicting launcher manifests
  cargo-boomerang/src/bundle.rs
Due: none

fix(cargo-boomerang): normalize Windows metadata paths
  .github/workflows/cargo-boomerang-toolchain.yml
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/workspace.rs
Due: none

test(cargo-boomerang): compact sensor-slice fixture
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
Due: none

fix(cargo-boomerang): constrain Windows path normalization
  cargo-boomerang/src/workspace.rs
Due: none

fix(cargo-boomerang): reject reserved metadata path stems
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
Due: none

Address federate slice review feedback
  boomerang_builder/src/compiler/compiled.rs
  boomerang_central_rti/README.md
  boomerang_central_rti/src/lib.rs
  boomerang_central_rti/src/session.rs
  boomerang_central_rti/src/transport.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/fixtures/workspace/transitive-host/src/lib.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: boomerang_builder, boomerang_runtime

refactor: key owned federates by compiled index
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/support/mod.rs
Due: boomerang_builder

fix: validate sliced enclave identities
  boomerang_central_rti/src/client.rs
  boomerang_central_rti/src/lib.rs
  boomerang_central_rti/src/runtime_bridge.rs
  boomerang_central_rti/src/session.rs
  boomerang_central_rti/src/static_runner.rs
  boomerang_central_rti/src/transport.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

refactor: keep compiled identities typed on host
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_runtime/src/image/identity.rs
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang, boomerang_builder, boomerang_runtime

feat(tinymap): add fallible dense ownership APIs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
Due: boomerang_tinymap

refactor(image): distinguish dense spans from slice ranges
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap

refactor(compiler): centralize enclave ownership
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  cargo-boomerang/src/check.rs
Due: boomerang_builder

refactor(compiler): generate dense RTI coordinates
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/packed.rs
Due: boomerang_builder

refactor(compiler): split typed enclave lowering
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/packed.rs
Due: boomerang_builder

docs: define compiler runtime image boundary
  docs/README.md
  docs/compiler-runtime-image-boundary.md
Due: none

refactor(compiler): centralize deployment image materialization
  boomerang_builder/src/compiler/compiled.rs
  cargo-boomerang/tests/support/mod.rs
Due: boomerang_builder

refactor(image): remove federate slice wrappers
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_builder, boomerang_runtime

refactor(compiler): isolate enclave image materialization
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/lower/enclave.rs
Due: boomerang_builder

refactor(compiler): make image tables authoritative
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/lower/enclave.rs
  boomerang_builder/src/compiler/packed.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/range.rs
  cargo-boomerang/src/codegen/rust.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

refactor(compiler): split test modules
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/lower/enclave.rs
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/resolved.rs
  boomerang_builder/src/compiler/resolved/mod.rs
  boomerang_builder/src/compiler/resolved/tests.rs
Due: boomerang_builder

fix(cargo-boomerang): use deployment lowering method
  cargo-boomerang/src/check.rs
  cargo-boomerang/tests/support/mod.rs
Due: none

docs: colocate compiler runtime boundary contract
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/packed.rs
  boomerang_runtime/src/image/mod.rs
  boomerang_tinymap/src/range.rs
  cargo-boomerang/src/codegen/mod.rs
  docs/README.md
  docs/compiler-runtime-image-boundary.md
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

refactor(codegen): render launchers structurally
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: none

docs: specify launcher support and artifact reporting
  docs/superpowers/specs/2026-09-12-cargo-boomerang-launcher-support-and-artifact-reporting-design.md
Due: none

refactor(codegen): centralize hosted launcher support
  boomerang_util/Cargo.toml
  boomerang_util/README.md
  boomerang_util/src/launcher.rs
  boomerang_util/src/lib.rs
  boomerang_util/src/test_tracing.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/generated.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: boomerang_util

feat(cli): report published launcher paths
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/output.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: none

feat(cli): report executed launcher path
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: none

fix(codegen): align hosted launcher validation
  boomerang_util/src/launcher.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_util

refactor(runtime): serialize execution stats with serde
  boomerang_runtime/src/sched/mod.rs
  boomerang_util/Cargo.toml
  boomerang_util/src/launcher.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/run.rs
  docs/superpowers/specs/2026-09-12-cargo-boomerang-launcher-support-and-artifact-reporting-design.md
Due: boomerang_runtime, boomerang_util

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
