Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

feat(cargo-boomerang): export execution summaries
  cargo-boomerang/src/main.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: none

Add compiled Federate slice execution adapters
  boomerang/tests/compiled_reference.rs
  boomerang/tests/compiled_reference/distributed.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

test(cli): construct native executable paths in progress fixture
  cargo-boomerang/tests/toolchain/build.rs
Due: none

Separate compiled boundary delivery from legacy action adapters
  boomerang/tests/compiled_reference/distributed.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_central_rti/src/client.rs
  boomerang_central_rti/src/runtime_bridge.rs
  boomerang_central_rti/src/static_runner.rs
  boomerang_runtime/src/boundary.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/storage/owned.rs
  docs/federated-runtime.md
Due: boomerang, boomerang_builder, boomerang_runtime

Give payload codecs associated error types
  boomerang/tests/compiled_reference/distributed.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_central_rti/src/runtime_bridge.rs
  boomerang_runtime/src/boundary.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/reference/distributed.rs
  docs/federated-runtime.md
Due: boomerang, boomerang_builder, boomerang_runtime

feat(rti): coordinate compiled Federate execution from RtiImage
  .github/workflows/ci.yml
  boomerang/tests/compiled_reference.rs
  boomerang/tests/compiled_reference/central_rti.rs
  boomerang/tests/compiled_reference/central_rti_transport.rs
  boomerang_central_rti/README.md
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/src/lib.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang, boomerang_runtime

test(ci): compare canonical workspace paths on Windows
  cargo-boomerang/tests/workspace.rs
Due: none

fix(runtime): preserve causal scheduler failure across peer shutdown
  boomerang/tests/compiled_reference.rs
  boomerang/tests/compiled_reference/central_rti.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang, boomerang_runtime

refactor(runtime): name coordinator termination report
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
Due: boomerang_runtime

refactor(rti): expose reference in-memory transport adapters
  boomerang/tests/compiled_reference/central_rti_transport.rs
  boomerang_central_rti/README.md
  boomerang_central_rti/src/compiled/in_memory.rs
  boomerang_central_rti/src/compiled/mod.rs
Due: boomerang

fix(rti): resolve typed route bindings during preflight
  boomerang/tests/compiled_reference/central_rti.rs
  boomerang_central_rti/README.md
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_central_rti/src/compiled/tests.rs
Due: boomerang

refactor(image): borrow compiled records through execution
  boomerang/tests/compiled_reference.rs
  boomerang/tests/compiled_reference/central_rti.rs
  boomerang/tests/compiled_reference/distributed.rs
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower/enclave.rs
  boomerang_builder/src/compiler/lower/tests.rs
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_tinymap/src/map/view.rs
  cargo-boomerang/src/codegen/rust.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap

feat(deployment): generate and supervise compiled central RTI artifacts
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/sched/mod.rs
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rti.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/src/run/processes.rs
  cargo-boomerang/tests/fixtures/owned-reference-payloads/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/toolchain/run.rs
  docs/deployment-architecture.md
Due: boomerang_runtime

test(deployment): acknowledge child startup before fixture exit
  cargo-boomerang/src/run/processes.rs
Due: none

docs: clarify compiled artifact and process ownership
  docs/federated-runtime.md
Due: none

ci: cover generated launcher execution in integration reports
  .github/workflows/codecov.yml
Due: none

ci: preserve coverage data with compatible llvm-cov flags
  .github/workflows/codecov.yml
Due: none

ci: instrument complete generated executables for coverage
  .github/workflows/codecov.yml
Due: none

feat(wire): define bounded protocol and layered identities
  .github/workflows/ci.yml
  boomerang_federated/Cargo.toml
  boomerang_federated/README.md
  boomerang_federated/src/lib.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/payload.rs
  boomerang_federated/src/wire/tests.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/fingerprints.rs
  cargo-boomerang/src/codegen/fingerprints/tests.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
  docs/deployment-architecture.md
  docs/federated-deployment-roadmap.md
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

refactor(wire): derive canonical records with serde
  boomerang_federated/Cargo.toml
  boomerang_federated/README.md
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/payload.rs
  boomerang_federated/src/wire/tests.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/fingerprints.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
  docs/federated-protocol.md
Due: none

refactor(wire): make frame prefix boundaries explicit
  boomerang_federated/src/wire.rs
Due: none

feat(wire): adopt shared canonical records in hosted channels
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/hosted/wire.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/channel.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
  docs/deployment-architecture.md
Due: none

fix(transport): drain inbound bytes after terminal half-close
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
Due: none

chore(wire): reset unreleased codec version to one
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
Due: none

feat(wire): adopt shared canonical records in hosted channels (#239)
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/hosted/wire.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/channel.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
  docs/deployment-architecture.md
Due: none

feat(transport): drive bounded hosted channels with Tokio
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/channel.rs
  boomerang_central_rti/src/compiled/hosted/io.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/channel.rs
  docs/deployment-architecture.md
Due: none

refactor(transport): expose timed frames through Stream
  boomerang_central_rti/src/compiled/hosted.rs
  boomerang_central_rti/src/compiled/hosted/io.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
Due: none

refactor(transport): give the hosted server ownership of its lifecycle
  boomerang_central_rti/src/compiled/hosted/io.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
Due: none

fix(transport): own server configuration across runtime startup
  boomerang_central_rti/src/compiled/hosted/mod.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  cargo-boomerang/src/codegen/mod.rs
Due: none

refactor(rti): standardize construction on validated projections
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/tests/compiled_execution.rs
Due: none

refactor(rti): own validated image descriptors through construction
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_runtime/src/image/view.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
Due: boomerang_runtime

refactor(runtime): own deployment and federate view descriptors
  boomerang_builder/src/compiler/compiled.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
Due: boomerang_builder, boomerang_runtime

refactor(runtime): move deployment descriptors through owned execution
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/tests/compiled_execution/failure.rs
  boomerang_runtime/tests/compiled_execution/federate.rs
  boomerang_runtime/tests/compiled_execution/preflight.rs
  boomerang_tinymap/src/map/view.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/support/mod.rs
Due: boomerang_runtime, boomerang_tinymap

test(cargo-boomerang): consolidate toolchain scenarios and fixtures
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  cargo-boomerang/tests/fixtures/manifest/invalid-rti/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/check.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/toolchain/descriptor_driver.rs
  cargo-boomerang/tests/toolchain/run.rs
  cargo-boomerang/tests/workspace.rs
Due: none

test(cargo-boomerang): trim unused fixture data
  cargo-boomerang/tests/fixtures/manifest/valid/Boomerang.toml
  cargo-boomerang/tests/fixtures/owned-reference-payloads/Cargo.toml
  cargo-boomerang/tests/fixtures/owned-reference-payloads/build.rs
  cargo-boomerang/tests/fixtures/owned-reference-payloads/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
Due: none

ci: run the consolidated suite through workspace checks
  .github/workflows/cargo-boomerang-toolchain.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  cargo-boomerang/tests/support/mod.rs
Due: none

docs: align coordination roadmap with efficient RTI algorithm
  docs/deployment-architecture.md
  docs/federated-deployment-roadmap.md
  docs/federated-protocol.md
Due: none

ci: bound generated toolchain checks on slower runners
  .github/workflows/ci.yml
Due: none

feat(rti): bound in-transit accounting and reuse safe horizons
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/src/tag_conversion.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_federated/src/protocol.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/tests/compiled_execution/preflight.rs
  cargo-boomerang/src/codegen/fingerprints.rs
  cargo-boomerang/src/codegen/fingerprints/tests.rs
  cargo-boomerang/src/codegen/rti.rs
  cargo-boomerang/tests/toolchain/wire_contract.rs
  docs/federated-protocol.md
Due: boomerang_builder, boomerang_runtime

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
