Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

feat: split Snake telemetry across enclaves
  examples/snake/Boomerang.toml
  examples/snake/README.md
  examples/snake/src/lib.rs
Due: none

fix: wake peer schedulers when federate work changes
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
  examples/snake/README.md
  examples/snake/src/lib.rs
Due: boomerang_runtime

fix: wake peer schedulers when federate work changes
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

ci: reduce coverage workflow runtime
  .github/workflows/codecov.yml
Due: none

ci: retain monitor toolchain coverage
  .github/workflows/ci.yml
Due: none

feat(runtime): carry validated federate views into execution
  boomerang_builder/src/compiler/compiled.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution.rs
  boomerang_runtime/tests/compiled_execution/distributed.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_builder, boomerang_runtime

fix(runtime): use current atomic update API
  boomerang_runtime/src/observation.rs
Due: boomerang_runtime

feat(tinymap): add sealed dense map lifecycle
  boomerang_tinymap/src/dense_map.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/range.rs
  boomerang_tinymap/src/tiny_vec/mod.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
  boomerang_tinymap/tests/dense_map_lifecycle.rs
  boomerang_tinymap/tests/tiny_vec_downstream.rs
Due: boomerang_tinymap

docs(tinymap): explain sealed storage lifecycle
  boomerang_tinymap/README.md
  boomerang_tinymap/src/dense_map.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/tiny_vec/mod.rs
Due: boomerang_tinymap

feat(tinymap): add sealed sparse map lifecycle
  .github/workflows/ci.yml
  boomerang_tinymap/README.md
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/sparse_map.rs
  boomerang_tinymap/src/tiny_vec/mod.rs
  boomerang_tinymap/tests/sparse_map_lifecycle.rs
Due: boomerang_tinymap

docs(tinymap): source sparse keys from owner
  boomerang_tinymap/src/sparse_map.rs
Due: boomerang_tinymap

ci: run tinymap through miri nextest
  .github/workflows/ci.yml
  boomerang_tinymap/tests/tiny_vec_downstream.rs
Due: boomerang_tinymap

feat(tinymap): add pinned image handle lifecycle
  .github/workflows/ci.yml
  boomerang_tinymap/Cargo.toml
  boomerang_tinymap/README.md
  boomerang_tinymap/examples/pinned_image.rs
  boomerang_tinymap/src/handle.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/tests/pinned_image_lifecycle.rs
Due: boomerang_tinymap

feat(tinymap): expose heap sealed map adapters
  boomerang_tinymap/README.md
  boomerang_tinymap/src/dense_map.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/sparse_map.rs
  boomerang_tinymap/src/tiny_vec/mod.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
  boomerang_tinymap/tests/dense_map_lifecycle.rs
  boomerang_tinymap/tests/sparse_map_lifecycle.rs
Due: boomerang_tinymap

refactor(images): use sealed dense map references
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_central_rti/src/compiled/hosted/tests.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/source_sink.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution.rs
  boomerang_runtime/tests/compiled_execution/failure.rs
  boomerang_runtime/tests/compiled_execution/federate.rs
  boomerang_runtime/tests/compiled_execution/lifecycle.rs
  boomerang_runtime/tests/compiled_execution/modes.rs
  boomerang_runtime/tests/compiled_execution/preflight.rs
  boomerang_runtime/tests/compiled_execution/source_sink.rs
  boomerang_runtime/tests/compiled_execution/timers.rs
  boomerang_tinymap/src/dense_map.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rti.rs
  cargo-boomerang/src/codegen/rust.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

fix(tinymap): bound borrowed dense views by key domain
  boomerang_tinymap/src/dense_map.rs
  boomerang_tinymap/tests/dense_map_lifecycle.rs
Due: boomerang_tinymap

refactor(compiler): seal compiled image tables
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower/enclave.rs
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
  boomerang_tinymap/src/dense_map.rs
  boomerang_tinymap/tests/dense_map_lifecycle.rs
  cargo-boomerang/src/check.rs
Due: boomerang_builder, boomerang_tinymap

fix(compiler): preserve dense table capacity diagnostics
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
Due: boomerang_builder

refactor(compiler): seal central rti image tables
  boomerang_builder/src/compiler/coordination.rs
Due: boomerang_builder

refactor(assembly): seal runtime enclave membership
  boomerang/benches/benchmark.rs
  boomerang/benches/modal_modes.rs
  boomerang/benches/modal_scheduler_perf.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang/benches/port_bank.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/tests.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/local_partition.rs
  boomerang_builder/src/tests/topology.rs
  boomerang_runtime/src/replay.rs
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

refactor(compiler): seal rendered image rows
  boomerang_builder/src/compiler/compiled.rs
Due: boomerang_builder

refactor(images): remove stale legacy map references
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
  boomerang_runtime/src/image/mod.rs
Due: boomerang_builder, boomerang_runtime

refactor(tool): reuse cargo-boomerang as compiler wrapper
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/compiler_wrapper.rs
  cargo-boomerang/src/compiler_wrapper/utility.rs
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/facet.rs
  cargo-boomerang/src/facet_rustc.rs
  cargo-boomerang/src/generated_cache.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/descriptor_driver.rs
Due: none

fix(tool): resolve and identify compiler wrapper utility
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/compiler_wrapper.rs
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/tests/support/mod.rs
Due: none

refactor(tool): simplify compiler wrapper module
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/compiler_wrapper.rs
  cargo-boomerang/src/compiler_wrapper/mod.rs
  cargo-boomerang/src/compiler_wrapper/utility.rs
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/main.rs
Due: none

refactor(tool): version compiler wrapper cache contract
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/compiler_wrapper/mod.rs
  cargo-boomerang/src/driver.rs
Due: none

refactor(tool): flatten compiler wrapper entry point
  cargo-boomerang/src/compiler_wrapper/mod.rs
  cargo-boomerang/src/compiler_wrapper/utility.rs
  cargo-boomerang/src/facet.rs
Due: none

refactor(compiler): use native table diagnostics
  boomerang_builder/src/compiler/lower/mod.rs
  boomerang_builder/src/compiler/lower/tests.rs
Due: boomerang_builder

feat(runtime): add hosted federate physical clock capability
  .github/workflows/ci.yml
  boomerang_runtime/Cargo.toml
  boomerang_runtime/README.md
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/physical_clock.rs
  boomerang_runtime/src/physical_clock/tests.rs
  boomerang_runtime/src/physical_time.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution.rs
  boomerang_runtime/tests/compiled_execution/physical_clock.rs
  cargo-boomerang/src/codegen/fingerprints.rs
  cargo-boomerang/src/codegen/fingerprints/tests.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_runtime

fix(runtime): preserve physical clock action and route ordering
  boomerang_runtime/src/action/action_ref.rs
  boomerang_runtime/src/action/mod.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/physical_clock.rs
  boomerang_runtime/src/physical_clock/tests.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution/physical_clock.rs
Due: boomerang_runtime

fix(runtime): stop selected-clock execution after terminal failure
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

test(clock): cover public APIs and generated launcher in CI
  .github/workflows/codecov.yml
  boomerang_runtime/src/physical_clock/tests.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_runtime

feat(runtime): admit bounded physical inputs with exclusive progress
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  boomerang_runtime/README.md
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/physical_clock.rs
  boomerang_runtime/src/physical_clock/tests.rs
  boomerang_runtime/src/physical_input.rs
  boomerang_runtime/src/physical_input/tests.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution.rs
  boomerang_runtime/tests/compiled_execution/physical_input.rs
  cargo-boomerang/src/codegen/fingerprints/tests.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_runtime

fix(runtime): cap grants and reject required batches atomically
  .github/workflows/codecov.yml
  boomerang_runtime/src/physical_input.rs
  boomerang_runtime/src/physical_input/tests.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

fix(runtime): attribute optional mailbox closure to affected source
  boomerang_runtime/src/physical_input.rs
  boomerang_runtime/src/physical_input/tests.rs
Due: boomerang_runtime

refactor(clock): derive errors and cover the toolchain suite
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  boomerang_runtime/src/physical_clock/tests.rs
  boomerang_runtime/src/physical_time.rs
Due: boomerang_runtime

ci: run the full all-feature toolchain suite on Linux
  .github/workflows/ci.yml
Due: none

ci: defer coverage reports and restore the 30-minute limit
  .github/workflows/codecov.yml
Due: none

fix(ci): use implicit accumulation with deferred coverage reports
  .github/workflows/codecov.yml
Due: none

docs(runtime): document physical input admission contracts
  boomerang_runtime/src/physical_input.rs
  boomerang_runtime/src/physical_input/tests.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/tests/compiled_execution/physical_input.rs
  cargo-boomerang/src/codegen/fingerprints/tests.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_runtime
