Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

docs: define static federate deployment architecture
  docs/README.md
  docs/architecture.md
  docs/deployment-architecture.md
Due: none

feat(builder): add stable application topology model
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model.rs
  boomerang_builder/src/lib.rs
Due: boomerang_builder

refactor(builder): structure application topology model
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model.rs
  boomerang_builder/src/compiler/model/action.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/connection.rs
  boomerang_builder/src/compiler/model/enclave.rs
  boomerang_builder/src/compiler/model/mod.rs
  boomerang_builder/src/compiler/model/mode.rs
  boomerang_builder/src/compiler/model/placement_group.rs
  boomerang_builder/src/compiler/model/port.rs
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/compiler/model/reactor.rs
  boomerang_builder/src/compiler/model/topology.rs
  docs/deployment-architecture.md
Due: boomerang_builder

feat(builder): preserve topology source semantics
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/action.rs
  boomerang_builder/src/compiler/model/bank.rs
  boomerang_builder/src/compiler/model/connection.rs
  boomerang_builder/src/compiler/model/mod.rs
  boomerang_builder/src/compiler/model/port.rs
  boomerang_builder/src/compiler/model/reactor.rs
  boomerang_builder/src/compiler/model/topology.rs
Due: boomerang_builder

fix(builder): enforce topology source invariants
  boomerang_builder/src/compiler/model/action.rs
  boomerang_builder/src/compiler/model/port.rs
  boomerang_builder/src/compiler/model/topology.rs
Due: boomerang_builder

fix(builder): validate remaining topology identities
  boomerang_builder/src/compiler/model/topology.rs
Due: boomerang_builder

fix(builder): reject mixed reaction identity families
  boomerang_builder/src/compiler/model/topology.rs
Due: boomerang_builder

feat(builder): project non-modal application topology
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

fix(builder): validate projected hierarchy semantics
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(builder): project non-modal application topology (#108)
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(builder): project modal application topology
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/model/mode.rs
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

test(builder): cover modal action projection
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(builder): project modal application topology (#140)
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/model/mode.rs
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

refactor(builder): inspect application topology structure
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

test(builder): prove topology relation rendering
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

fix(builder): preserve singleton bank inspection
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

refactor(builder): inspect application topology structure (#141)
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(macros): generate component descriptor facets
  boomerang_builder/src/descriptor.rs
  boomerang_builder/src/lib.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-rejects-body/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-rejects-body/src/lib.rs
Due: boomerang_builder

fix(macros): gate hosted reactors in reserved modes
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/metadata-free/Cargo.toml
  boomerang_macros/tests/fixtures/metadata-free/src/lib.rs
Due: none

fix(macros): harden descriptor facets
  boomerang_builder/src/descriptor.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-multiple/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-multiple/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-overflow/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-overflow/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/feature-free/Cargo.toml
  boomerang_macros/tests/fixtures/feature-free/src/lib.rs
Due: boomerang_builder

fix(macros): align descriptor identity semantics
  boomerang_builder/src/descriptor.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/src/util.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
Due: boomerang_builder

refactor(builder): unify descriptor value types
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/descriptor.rs
  boomerang_builder/src/lib.rs
  boomerang_macros/src/reactor.rs
Due: boomerang_builder

perf(builder): avoid cloning descriptor storage
  boomerang_builder/src/descriptor.rs
Due: boomerang_builder

feat(macros): generate component descriptor facets (#142)
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/descriptor.rs
  boomerang_builder/src/lib.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/src/util.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-multiple/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-multiple/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-overflow/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-overflow/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-rejects-body/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-rejects-body/src/lib.rs
  boomerang_macros/tests/fixtures/feature-free/Cargo.toml
  boomerang_macros/tests/fixtures/feature-free/src/lib.rs
  boomerang_macros/tests/fixtures/metadata-free/Cargo.toml
  boomerang_macros/tests/fixtures/metadata-free/src/lib.rs
Due: boomerang_builder

feat(runtime): add descriptor fingerprint values
  boomerang_runtime/src/binding.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_runtime

feat(builder): fingerprint component descriptors
  boomerang_builder/Cargo.toml
  boomerang_builder/src/descriptor.rs
  boomerang_builder/src/descriptor/fingerprint.rs
Due: boomerang_builder

docs(builder): document fingerprint encoder
  boomerang_builder/src/descriptor.rs
  boomerang_builder/src/descriptor/fingerprint.rs
Due: boomerang_builder

fix(runtime): make fingerprint test assertions const
  boomerang_runtime/src/binding.rs
Due: boomerang_runtime

refactor: clarify descriptor fingerprint boundaries
  boomerang_builder/Cargo.toml
  boomerang_builder/src/descriptor/fingerprint.rs
  boomerang_builder/src/descriptor/mod.rs
  boomerang_runtime/src/binding/mod.rs
Due: boomerang_builder, boomerang_runtime

test(builder): colocate descriptor fingerprint tests
  boomerang_builder/src/descriptor/fingerprint.rs
  boomerang_builder/src/descriptor/mod.rs
Due: boomerang_builder

feat(builder): define descriptor fingerprint contract (#144)
  boomerang_builder/Cargo.toml
  boomerang_builder/src/descriptor/fingerprint.rs
  boomerang_builder/src/descriptor/mod.rs
  boomerang_runtime/src/binding/mod.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_builder, boomerang_runtime

feat(macros): generate payload compatibility manifests
  boomerang_macros/Cargo.toml
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/payload-mismatch/Cargo.toml
  boomerang_macros/tests/fixtures/payload-mismatch/src/lib.rs
  boomerang_macros/tests/fixtures/payload-pass/Cargo.toml
  boomerang_macros/tests/fixtures/payload-pass/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
  docs/deployment-architecture.md
Due: boomerang_runtime

fix(macros): gate payload descriptor validation
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/hosted-duplicate-mode/Cargo.toml
  boomerang_macros/tests/fixtures/hosted-duplicate-mode/src/lib.rs
  boomerang_macros/tests/fixtures/payload-pass/src/lib.rs
Due: none

test(macros): cover payload output effects
  boomerang_macros/tests/fixtures/payload-pass/src/lib.rs
Due: none

test(macros): reuse facet fixtures
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/hosted-duplicate-mode/Cargo.toml
  boomerang_macros/tests/fixtures/hosted-duplicate-mode/src/lib.rs
  boomerang_macros/tests/fixtures/payload-mismatch/Cargo.toml
  boomerang_macros/tests/fixtures/payload-mismatch/src/lib.rs
  boomerang_macros/tests/fixtures/payload-pass/Cargo.toml
  boomerang_macros/tests/fixtures/payload-pass/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
Due: boomerang_runtime

Generate payload compatibility manifests (#146)
  boomerang_macros/Cargo.toml
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
  docs/deployment-architecture.md
Due: boomerang_runtime

feat(builder): analyze federation graphs canonically
  boomerang_builder/src/compiler/federation.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
Due: boomerang_builder

fix(builder): name federation graph edges
  boomerang_builder/src/compiler/federation.rs
Due: boomerang_builder

feat(builder): analyze federation graphs canonically (#147)
  boomerang_builder/src/compiler/federation.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
Due: boomerang_builder

refactor(tinymap): unify dense u32 keys
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/key_set.rs
  boomerang_tinymap/README.md
  boomerang_tinymap/src/key_set/mod.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/secondary_map/mod.rs
  docs/deployment-architecture.md
Due: boomerang_runtime, boomerang_tinymap
