Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

fix(tinymap): gate fixedbitset behind alloc
  boomerang_tinymap/Cargo.toml
Due: boomerang_tinymap

feat(tinymap): add bounded TinyVec builders
  boomerang_tinymap/src/error.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
Due: boomerang_tinymap

fix(tinymap): preserve TinyVec cleanup on panic
  boomerang_tinymap/src/tiny_vec.rs
Due: boomerang_tinymap

feat(tinymap): seal TinyVec storage
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
Due: boomerang_tinymap

test(tinymap): cover sealed TinyVec ownership
  boomerang_tinymap/src/tiny_vec.rs
Due: boomerang_tinymap

test(tinymap): verify sealed storage lifecycle
  boomerang_tinymap/src/lib.rs
Due: boomerang_tinymap

test(tinymap): verify sealed storage lifecycle
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
Due: boomerang_tinymap

test(tinymap): verify sealed storage lifecycle
  boomerang_tinymap/src/tiny_vec.rs
Due: boomerang_tinymap

test(tinymap): verify sealed storage lifecycle
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/tests/no_std_key_type.rs
Due: boomerang_tinymap

test(tinymap): verify sealed storage lifecycle
  boomerang_tinymap/tests/no_std_key_type.rs
Due: boomerang_tinymap

refactor(tinymap): dispatch TinyVec storage directly
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
Due: boomerang_tinymap

fix(tinymap): keep TinyVec storage operations private
  boomerang_tinymap/src/tiny_vec.rs
  boomerang_tinymap/src/tiny_vec/storage.rs
  boomerang_tinymap/tests/tiny_vec_downstream.rs
Due: boomerang_tinymap

refactor(tinymap): derive TinyMapError
  Cargo.toml
  boomerang_tinymap/Cargo.toml
  boomerang_tinymap/src/error.rs
  boomerang_tinymap/src/tiny_vec/mod.rs
Due: boomerang_tinymap

test(cargo-boomerang): refresh fixture lockfile
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/workspace.rs
Due: none

test(cargo-boomerang): preserve fixture lock resolutions
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/workspace.rs
Due: none

test(tinymap): render downstream paths portably
  boomerang_tinymap/Cargo.toml
  boomerang_tinymap/tests/tiny_vec_downstream.rs
Due: boomerang_tinymap

feat(runtime): add bounded observation state
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/tests/observation.rs
  cargo-boomerang/src/codegen/rust.rs
Due: boomerang_runtime

feat(runtime): observe event queue resources
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

feat(runtime): const validate enclave image views
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/map/view.rs
Due: boomerang_runtime, boomerang_tinymap

feat(runtime): observe lifecycle and logical progress
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

feat(runtime): observe wall clock waits
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

refactor(runtime): preserve typed const validation keys
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

fix(runtime): snapshot observations coherently
  boomerang_runtime/src/observation.rs
Due: boomerang_runtime

fix(runtime): keep packed validation offsets wide
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

fix(runtime): publish tag progress atomically
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

feat(codegen): const validate generated enclave views
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: none

fix(runtime): account coordination waits
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

fix(runtime): bound observation snapshots
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

fix(runtime): retain event queue peaks
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

refactor(runtime): propagate checked enclave views
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
Due: boomerang_runtime

fix(runtime): execute generated checked enclave views
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/tests/compiled_execution/distributed.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/codegen.rs
Due: boomerang_runtime

refactor(image): centralize const key comparisons
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/tests/const_keys.rs
Due: boomerang_runtime, boomerang_tinymap

test(runtime): fix multi-federate coordination fixture
  boomerang_runtime/src/reference.rs
Due: boomerang_runtime

fix(runtime): close observation review gaps
  boomerang_runtime/src/observation.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/tests/observation.rs
Due: boomerang_runtime

feat: add bounded telemetry record core
  Cargo.toml
  boomerang_telemetry/Cargo.toml
  boomerang_telemetry/README.md
  boomerang_telemetry/src/lib.rs
Due: none

fix: reject unsupported telemetry versions
  boomerang_telemetry/README.md
  boomerang_telemetry/src/lib.rs
Due: none

feat: add telemetry encoder state
  boomerang_telemetry/README.md
  boomerang_telemetry/src/lib.rs
Due: none

test: split telemetry tests module
  boomerang_telemetry/src/lib.rs
  boomerang_telemetry/src/tests.rs
Due: none

refactor: derive telemetry errors
  boomerang_telemetry/Cargo.toml
  boomerang_telemetry/src/lib.rs
  boomerang_telemetry/src/tests.rs
Due: none

feat(util): add bounded hosted telemetry adapter
  Cargo.toml
  boomerang_util/Cargo.toml
  boomerang_util/README.md
  boomerang_util/src/lib.rs
  boomerang_util/src/telemetry.rs
  boomerang_util/src/telemetry/tests.rs
Due: boomerang_util
