Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

refactor(builder): rename lowering vocabulary
  book/src/static-federation.md
  boomerang/benches/benchmark.rs
  boomerang/benches/modal_modes.rs
  boomerang/benches/modal_scheduler_perf.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang/benches/port_bank.rs
  boomerang/src/lib.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/README.md
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/plantuml.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_util/src/runner.rs
  docs/federated-runtime.md
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_util

fix(builder): enable standalone replay feature
  boomerang_builder/Cargo.toml
  boomerang_builder/src/reactor.rs
Due: boomerang_builder

docs(book): add assembly vocabulary glossary
  book/src/glossary.md
  book/src/introduction.md
Due: none

docs(book): visualize assembly lifecycle
  book/src/introduction.md
Due: none

test(federated): characterize RTI transitions
  boomerang_federated/src/rti.rs
Due: none

refactor(federated): split RTI module tests
  boomerang_federated/src/rti.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): compile RTI topology indexes
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
Due: boomerang_builder

refactor(federated): consolidate RTI coordination state
  boomerang_federated/src/lib.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): validate RTI transitions atomically
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
Due: boomerang_builder

refactor(federated): target RTI grant reevaluation
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

docs(federated): document durable RTI transitions
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

test(federated): characterize LF transitive bound
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): compile transitive RTI delays
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): align RTI grants with LF
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
Due: none

test(federated): prove ordered message admission
  boomerang_federated/src/client.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/session.rs
Due: none

refactor(federated): remove payload acknowledgments
  boomerang_federated/src/client.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
  boomerang_federated/src/transport.rs
Due: none

docs(federated): document LF coordination model
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

refactor(federated): compile RTI topology during lowering
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: boomerang_builder

refactor(builder): group lowered federation state
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  docs/federated-runtime.md
Due: boomerang_builder

refactor(builder): lower federate enclave mappings
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang_builder

refactor(federated): move execution beyond builder
  boomerang/src/lib.rs
  boomerang/src/static_federation.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang, boomerang_builder

perf(federated): cache compiled neighbor views
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

refactor(federated): retain lowered placement indexes
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/lib.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang_builder

refactor(federated): attach inbound handlers to routes
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  docs/federated-runtime.md
Due: boomerang_builder, boomerang_runtime

refactor(federated): align LF protocol and lowering (#103)
  boomerang/src/lib.rs
  boomerang/src/static_federation.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/test_trace.rs
  boomerang_federated/src/transport.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: boomerang, boomerang_builder, boomerang_runtime

test(runtime): characterize partition coordination
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

refactor(runtime): unify logical time coordination
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  docs/federated-runtime.md
Due: boomerang_runtime

refactor(runtime): unify partition sender reaction
  boomerang_builder/src/connection.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
  docs/federated-runtime.md
Due: boomerang_builder, boomerang_runtime

refactor(builder): unify partition boundary lowering
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

test(builder): prove partition boundary equivalence
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

docs(runtime): document scheduler coordination
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/sched/barrier.rs
  docs/README.md
  docs/federated-runtime.md
  docs/scheduler-internals.md
Due: boomerang_runtime

test(builder): tolerate instrumented federation runs
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

refactor(builder): move assembly Mode-specific parts into new mode submodule.
  boomerang_builder/src/lib.rs
  boomerang_builder/src/mode.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
Due: boomerang_builder

refactor(builder): lower partition boundaries in one pass
  book/src/glossary.md
  boomerang/src/lib.rs
  boomerang/src/static_federation.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/inter_partition.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_builder/src/tests/mod.rs
  boomerang_federated/src/client/mod.rs
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/static_runner.rs
  boomerang_util/src/runner.rs
  docs/federated-runtime.md
  docs/scheduler-internals.md
Due: boomerang, boomerang_builder, boomerang_util

refactor(federated): allow multiple enclaves per federate
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/federated/lowering.rs
  boomerang_builder/src/federated/mod.rs
  boomerang_builder/src/inter_partition.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang_builder

refactor(builder): simplify assembly lowering internals
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/federated/lowering.rs
  boomerang_builder/src/federated/mod.rs
  boomerang_builder/src/mode.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
Due: boomerang_builder

docs: better diagrams in federated-runtime.md
  docs/federated-runtime.md
Due: none
