Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

docs: correct federated runtime lifecycle details
  docs/federated-runtime.md
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
Due: none

docs: clarify inbound endpoint sequencing
  docs/federated-runtime.md
Due: none

feat(trace): define stable runtime trace schema
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/trace.rs
Due: boomerang_runtime

feat(trace): emit structured scheduler events
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/src/store.rs
  boomerang_runtime/src/trace.rs
Due: boomerang_runtime

feat(rerun): add optional recording session
  Cargo.toml
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

perf(trace): skip disabled metadata collection
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/trace.rs
Due: boomerang_runtime

test(rerun): clarify memory flush smoke coverage
  boomerang/tests/rerun_trace.rs
Due: boomerang

feat(rerun): map structured traces into recordings
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): complete trace layer mappings
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): isolate adapter failures and verify encoding
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

feat(rerun): register hierarchical runtime metadata
  boomerang/Cargo.toml
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang_federated/src/rti/graph.rs
Due: boomerang

fix(rerun): keep trace identity adapter-owned
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
Due: boomerang

fix(rerun): preserve unambiguous runtime identity
  boomerang/src/rerun/entities.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

feat(rerun): add file tee sinks and timeline blueprint
  boomerang/Cargo.toml
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

docs(rerun): state sink backpressure semantics
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

Gate failed Rerun sessions at tracing callsites
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

Limit Rerun filter to trace target
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

Harden Rerun sink lifecycle and validation
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

Join completed Rerun teardown errors
  boomerang/src/rerun/session.rs
Due: boomerang

fix(trace): propagate subscriber to federated schedulers
  boomerang/tests/federated_static.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang

docs(rerun): explain trace visualization workflow
  README.md
Due: none

docs(rerun): clarify skipped attempt counter
  README.md
Due: none

test(rerun): require all federated trace lanes
  README.md
  boomerang/tests/federated_static.rs
Due: boomerang

fix(rerun): reconstruct adapter-owned propagation causality
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): preserve exact causal predecessors
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): correlate sends without runtime state
  boomerang/src/rerun/layer.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/trace.rs
Due: boomerang, boomerang_runtime

fix(rerun): preserve causality across modal rebases
  boomerang/src/rerun/layer.rs
Due: boomerang

fix(rerun): preserve federated trace identity
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/connection.rs
  boomerang_federated/src/runtime.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/trace.rs
Due: boomerang, boomerang_builder, boomerang_runtime

fix(rerun): correlate federated propagation by identity
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/connection.rs
  boomerang_federated/src/runtime.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_runtime/src/trace.rs
Due: boomerang, boomerang_builder, boomerang_runtime

fix(rerun): qualify serialized send before dispatch
  boomerang/src/rerun/layer.rs
  boomerang_federated/src/runtime.rs
Due: boomerang

perf(rerun): avoid allocating serialized route identity
  boomerang/tests/scheduler_alloc.rs
  boomerang_federated/src/runtime.rs
Due: boomerang

fix(rerun): bound lifecycle command admission
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): release lifecycle admission on panic
  boomerang/src/rerun/session.rs
Due: boomerang

fix(rerun): preserve lifecycle completion ordering
  boomerang/src/rerun/session.rs
Due: boomerang

test(rerun): synchronize lifecycle teardown phases
  boomerang/src/rerun/session.rs
Due: boomerang

fix(rerun): finalize verifiable offline recordings
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): keep logical trace timelines finite
  boomerang/src/rerun/layer.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

feat(rerun): visualize duration-bearing trace phases
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/mod.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): align offline blueprint with recorded schema
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

test(rerun): lock down offline federated trace semantics
  boomerang/tests/federated_static.rs
Due: boomerang
