Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

ci: split mutually exclusive coverage facets
  .github/workflows/codecov.yml
Due: none

ci: preserve accumulated coverage profiles
  .github/workflows/codecov.yml
Due: none

docs: design federated deployment roadmap
  docs/federated-deployment-roadmap.md
Due: none

docs: separate artifact and coordination identity
  docs/federated-deployment-roadmap.md
Due: none

docs: define federated deployment NFR contracts
  docs/federated-deployment-roadmap.md
Due: none

docs: clarify research provenance boundary
  docs/federated-deployment-roadmap.md
Due: none

feat: project immutable RTI coordination image
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/federation.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/resolved.rs
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/fixtures/manifest/invalid-rti/Boomerang.toml
  cargo-boomerang/tests/fixtures/manifest/valid/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/support/mod.rs
Due: boomerang, boomerang_builder, boomerang_runtime

refactor: strongly type RTI policies
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/resolved.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/view.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/support/mod.rs
Due: boomerang, boomerang_builder, boomerang_runtime

refactor(runtime): separate image identity storage
  boomerang_runtime/src/image/identity.rs
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/rti.rs
Due: boomerang_runtime

refactor(runtime): separate compiled image policies
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/policy.rs
  boomerang_runtime/src/image/rti.rs
Due: boomerang_runtime

docs: clarify RTI routes and flows
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_runtime/src/image/rti.rs
  cargo-boomerang/src/manifest.rs
Due: boomerang_builder, boomerang_runtime

refactor: type RTI dense storage owners
  boomerang_builder/src/compiler/coordination.rs
Due: boomerang_builder

refactor: strongly key RTI routes
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/coordination.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_runtime/src/image/rti.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang, boomerang_builder, boomerang_runtime

docs(rti): explain packed relationship storage
  boomerang_builder/src/compiler/coordination.rs
  boomerang_runtime/src/image/rti.rs
Due: boomerang_builder, boomerang_runtime

feat(runtime): define Federate coordination backend
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

fix(runtime): ignore sentinel coordination tags
  boomerang_runtime/src/sched/federate/backend.rs
Due: boomerang_runtime

feat(runtime): aggregate Federate candidates
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

test(runtime): strengthen candidate state invariants
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

feat(runtime): preserve Federate coordination invariants
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

fix(runtime): accept obsolete fixed-point acknowledgements
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

docs(runtime): document coordination backend
  boomerang_runtime/src/sched/federate/backend.rs
Due: boomerang_runtime

refactor(runtime): drive Federate channels from pure state
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/quiescence.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

refactor(runtime): coordinate compiled schedulers per Federate
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/quiescence.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_runtime

feat(runtime): construct compiled Federate coordination
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
Due: boomerang_runtime

docs(runtime): use inner docs for backend tests
  boomerang_runtime/src/sched/federate/backend.rs
Due: boomerang_runtime

test(runtime): stabilize Federate barrier ordering harness
  boomerang_runtime/src/sched/compiled.rs
Due: boomerang_runtime

refactor(federated): adapt RTI client to Federate coordination
  boomerang_federated/src/client.rs
Due: none

docs(runtime): fix strict rustdoc links
  boomerang_runtime/src/key_set.rs
  boomerang_runtime/src/reaction.rs
Due: boomerang_runtime

fix: progress idle federate coordination backends
  boomerang_federated/src/client.rs
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
Due: boomerang_runtime

test: strengthen idle backend progress coverage
  boomerang_runtime/src/sched/federate/orchestration.rs
Due: boomerang_runtime

fix(runtime): interrupt paced schedulers on abort
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_runtime

test(runtime): prove paced abort receive entry
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/core.rs
Due: boomerang, boomerang_runtime

fix: gate state revision accessor to tests
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang_runtime

fix(runtime): propagate compiled scheduler stop
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
Due: boomerang, boomerang_runtime

fix(federated): remove misplaced RTI coordinator adapter
  boomerang_federated/src/client.rs
Due: none

fix(runtime): preserve federate terminal semantics
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_runtime

refactor(runtime): extract scheduler loop phases
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

refactor(runtime): simplify wall-clock synchronization
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

feat(runtime): add immutable federate slice images
  boomerang_builder/src/compiler/compiled.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_builder, boomerang_runtime

fix(runtime): validate federate slice key ranges
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_builder, boomerang_runtime

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
