Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

docs(rerun): describe finalized offline trace workflow
  README.md
Due: none

fix(rerun): verify offline finalization
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

fix(rerun): bound verified trace shutdown
  boomerang/src/rerun/session.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

docs(rerun): clarify finalization guarantees
  README.md
Due: none

fix(rerun): bundle lifecycle test hooks
  boomerang/src/rerun/session.rs
Due: boomerang

refactor(rerun): define typed trace event schema
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/schema.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/trace.rs
Due: boomerang, boomerang_runtime

refactor(rerun): emit typed event archetypes
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/schema.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
  boomerang_runtime/src/store.rs
Due: boomerang, boomerang_runtime

refactor(rerun): emit traces directly to RRD
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/mod.rs
  boomerang/src/rerun/schema.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

Add Rerun tracing to utility runner
  boomerang/Cargo.toml
  boomerang/tests/enclave_cycle.rs
  boomerang_util/Cargo.toml
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_util

Derive Rerun trace output path
  boomerang_util/src/runner.rs
Due: boomerang_util

Simplify runner tracing lifecycle
  boomerang_util/src/runner.rs
Due: boomerang_util

fix(rerun): clarify offline trace semantics
  boomerang/src/rerun/entities.rs
  boomerang/src/rerun/layer.rs
  boomerang/src/rerun/session.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/rerun_trace.rs
Due: boomerang

refactor(rerun): extract adapter crate
  Cargo.toml
  README.md
  book/src/SUMMARY.md
  book/src/rerun.md
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang_rerun/Cargo.toml
  boomerang_rerun/README.md
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/lib.rs
  boomerang_rerun/src/session.rs
  boomerang_rerun/tests/rerun_trace.rs
Due: boomerang

refactor(rerun): simplify offline tracing
  book/src/rerun.md
  boomerang/tests/federated_static.rs
  boomerang_rerun/Cargo.toml
  boomerang_rerun/README.md
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/lib.rs
  boomerang_rerun/src/session.rs
  boomerang_rerun/tests/rerun_trace.rs
  boomerang_runtime/src/trace.rs
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_runtime, boomerang_util

refactor(rerun): remove obsolete trace scaffolding
  README.md
  boomerang/Cargo.toml
  boomerang/tests/federated_static.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_federated/src/rti/graph.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_rerun/README.md
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/trace.rs
Due: boomerang, boomerang_runtime

refactor(rerun): use typed registration maps
  boomerang/tests/federated_static.rs
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/store.rs
Due: boomerang, boomerang_runtime

test(runtime): pass reaction key to trigger
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

refactor(rerun): delegate RRD finalization to SDK
  book/src/rerun.md
  boomerang_rerun/README.md
  boomerang_rerun/src/session.rs
Due: none

refactor(rerun): simplify tracing span state
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
Due: none

fix(rerun): preserve tracing concurrency semantics
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
Due: none

refactor tracing schema to typed discriminators
  boomerang_federated/src/runtime.rs
  boomerang_federated/src/static_runner.rs
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/src/store.rs
  boomerang_runtime/src/trace.rs
Due: boomerang_runtime

use typed series labels in rerun adapter
  boomerang_rerun/src/layer.rs
Due: none

fix rerun error publication and series claims
  boomerang_rerun/src/layer.rs
  boomerang_rerun/src/session.rs
Due: none

precompute rerun entity paths
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/layer.rs
Due: none

simplify rerun path registration
  boomerang_rerun/src/entities.rs
Due: none

use typed runtime labels
  boomerang_rerun/src/entities.rs
  boomerang_rerun/src/session.rs
Due: none

Fix static federation startup cleanup
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-protocol.md
Due: none

Strengthen federation cleanup test
  boomerang_federated/src/static_runner.rs
Due: none

Simplify runtime federation handoff
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/federated/lowering.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/hierarchy.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang_builder

Correct federation handoff documentation
  docs/federated-runtime.md
Due: none

test(federated): consolidate static runner coverage
  boomerang_federated/src/static_runner.rs
Due: none

test(runtime): cover delayed local barrier
  boomerang_runtime/src/sched/barrier.rs
Due: boomerang_runtime

test: bound federated coordination waits
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/sched/barrier.rs
Due: boomerang_runtime

test(federated): consolidate client and service coverage
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/federate_coordination/tests.rs
Due: none

test(federated): bound client and service waits
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/federate_coordination/tests.rs
Due: none

test(federated): simplify timeout guards
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/federate_coordination/tests.rs
Due: none

test(builder): consolidate federated execution coverage
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

Remove development planning artifacts
  docs/superpowers/plans/2026-07-17-federate-local-enclave-ownership.md
  docs/superpowers/plans/2026-07-17-runtime-enclave-ownership.md
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
  docs/superpowers/specs/2026-07-17-federate-local-enclave-ownership-design.md
  docs/superpowers/specs/2026-07-17-runtime-enclave-ownership-design.md
  docs/superpowers/specs/2026-07-19-federated-rti-boundaries-design.md
Due: none

docs: align Federate coordination internals
  boomerang_federated/src/client/coordination/mod.rs
  docs/federated-protocol.md
  docs/federated-runtime.md
  docs/scheduler-internals.md
Due: none

docs: clarify Federate shutdown handoff
  boomerang_federated/src/client/coordination/mod.rs
  boomerang_federated/src/static_runner.rs
  docs/scheduler-internals.md
Due: none

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
