Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

feat(runtime): define compiled scheduler image schema
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_runtime

fix(runtime): preserve compiled scheduler semantics
  boomerang_runtime/src/image/schema.rs
Due: boomerang_runtime

docs: specify compiled image identity storage
  docs/deployment-architecture.md
Due: none

refactor(runtime): clarify route delay naming
  boomerang_runtime/src/image/schema.rs
Due: boomerang_runtime

refactor(tinymap): unify dense u32 keys (#148)
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/key_set.rs
  boomerang_tinymap/README.md
  boomerang_tinymap/src/key_set/mod.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/secondary_map/mod.rs
  docs/deployment-architecture.md
Due: boomerang_runtime, boomerang_tinymap

refactor: narrow raw enclave image API
  boomerang_runtime/src/image/schema.rs
Due: boomerang_runtime

fix(runtime): validate complete scheduler images
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

feat(runtime): validate compiled scheduler images
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

test: construct enclave image fixture directly
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

feat(runtime): define compiled scheduler image schema (#151)
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/lib.rs
  docs/deployment-architecture.md
Due: boomerang_runtime

feat(runtime): validate compiled scheduler image views (#152)
  boomerang_runtime/src/image/mod.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_runtime

feat(builder): version component contracts explicitly
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(builder): version component contracts explicitly (#153)
  boomerang_builder/src/compiler/debug.rs
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/tests/topology.rs
Due: boomerang_builder

feat(builder): model complete deployment selections
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/resolved.rs
Due: boomerang_builder

feat(builder): resolve complete deployment boundaries
  boomerang_builder/src/compiler/resolved.rs
Due: boomerang_builder

fix(builder): canonicalize deployment resolution errors
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/resolved.rs
Due: boomerang_builder

feat(builder): resolve complete deployments (#154)
  boomerang_builder/src/compiler/deployment.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/resolved.rs
Due: boomerang_builder

feat(runtime): define compiled deployment images
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_builder, boomerang_runtime

refactor(tinymap): distinguish keyed and slice ranges
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
Due: boomerang_runtime, boomerang_tinymap

refactor(tinymap): unify typed table ranges
  boomerang_builder/src/compiler/compiled.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

feat(runtime): define compiled deployment images (#155)
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

feat(runtime): harden compiled image boundaries
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_runtime/src/image/view.rs
  docs/deployment-architecture.md
Due: boomerang_builder, boomerang_runtime

refactor(builder): simplify compiled deployment validation
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/mod.rs
Due: boomerang_builder

feat(runtime): harden compiled image boundaries (#157)
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_runtime/src/image/view.rs
  docs/deployment-architecture.md
Due: boomerang_builder, boomerang_runtime

feat(builder): lower canonical compiled deployments
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_builder, boomerang_runtime

feat(builder): lower canonical compiled deployments (#158)
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang_builder, boomerang_runtime

feat(builder): define direct binding ABI
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
Due: boomerang_builder

feat(macros): export typed payload bindings
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  docs/deployment-architecture.md
Due: none

fix(macros): preserve payload binding shapes
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/state-init-without-state/Cargo.toml
  boomerang_macros/tests/fixtures/state-init-without-state/src/lib.rs
  docs/deployment-architecture.md
Due: none

fix(macros): validate external payload bindings
  boomerang_builder/src/compiler/lower.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/Cargo.toml
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  docs/deployment-architecture.md
Due: boomerang_builder

docs: clarify payload state visibility
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  docs/deployment-architecture.md
Due: none

feat: add deterministic direct payload bindings (#159)
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/Cargo.toml
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  boomerang_macros/tests/fixtures/state-init-without-state/Cargo.toml
  boomerang_macros/tests/fixtures/state-init-without-state/src/lib.rs
  docs/deployment-architecture.md
Due: boomerang_builder

refactor(runtime): extract key-generic scheduler core
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang_runtime

fix(runtime): remove obsolete scheduled events
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang_runtime

fix(runtime): preserve modal scheduler semantics
  boomerang/tests/modal_reset_reactions.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
Due: boomerang, boomerang_runtime

refactor(runtime): extract scheduler core
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

fix(runtime): preserve scheduler tracing targets
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

refactor(runtime): tighten scheduler capabilities
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
Due: boomerang_runtime

test: specify compiled reference execution
  boomerang/tests/compiled_reference.rs
Due: boomerang

refactor(runtime): derive owned storage cardinality
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime
