Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

docs: design runtime enclave ownership simplification
  docs/superpowers/specs/2026-07-17-runtime-enclave-ownership-design.md
Due: none

docs: plan runtime enclave ownership simplification
  docs/superpowers/plans/2026-07-17-runtime-enclave-ownership.md
Due: none

refactor(runtime): extract enclave module
  boomerang_runtime/src/enclaves.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/tests/enclaves_module.rs
Due: boomerang_runtime

refactor(runtime): restore dense enclave ownership
  boomerang_builder/src/assembly/build.rs
  boomerang_runtime/src/enclaves.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/replay.rs
  boomerang_runtime/src/runtime_enclaves.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/tests/enclaves_module.rs
  boomerang_util/src/runner.rs
Due: boomerang_builder, boomerang_runtime, boomerang_util

refactor(federated): centralize enclave ownership
  boomerang/tests/federated_static.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/hierarchy.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang, boomerang_builder

docs: clarify federated enclave ownership
  book/src/glossary.md
  boomerang_builder/README.md
  boomerang_builder/src/assembly/mod.rs
  boomerang_federated/README.md
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang_builder

docs: design federate-local enclave ownership
  docs/superpowers/specs/2026-07-17-federate-local-enclave-ownership-design.md
Due: none

docs: plan federate-local enclave ownership
  docs/superpowers/plans/2026-07-17-federate-local-enclave-ownership.md
Due: none

refactor(builder): qualify runtime enclave aliases
  boomerang/benches/physical_actions.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests/mod.rs
Due: boomerang, boomerang_builder

refactor(federated): localize enclave ownership
  boomerang/tests/federated_static.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federated/bindings.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/hierarchy.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang, boomerang_builder

refactor(federated): preserve federate-local enclave keys
  boomerang/tests/federated_static.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang, boomerang_builder

docs: describe federate-local enclave ownership
  boomerang_builder/src/assembly/build.rs
  docs/federated-runtime.md
  docs/superpowers/specs/2026-07-17-federate-local-enclave-ownership-design.md
Due: boomerang_builder

refactor: clarify enclave naming and ownership
  boomerang_builder/README.md
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_builder/src/tests/mod.rs
  boomerang_federated/README.md
  boomerang_federated/src/hierarchy.rs
  boomerang_runtime/src/enclave.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/tests/enclaves_module.rs
Due: boomerang_builder, boomerang_runtime

test(federated): characterize stable protocol identities
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): compile dense topology identities
  boomerang_federated/Cargo.toml
  boomerang_federated/src/rti/index.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): index RTI state by dense keys
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: none

refactor(federated): cache session federate keys
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/session.rs
Due: none

refactor(federated): resolve outbound routes directly
  boomerang_builder/src/connection.rs
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/runtime_bridge.rs
Due: boomerang_builder

docs: explain dense federated runtime identities
  .agent/FEDERATED_DENSE_RUNTIME_KEYS_EXECPLAN.md
  boomerang_federated/README.md
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

docs: explain dense federated runtime identities
  boomerang_federated/README.md
  docs/federated-protocol.md
  docs/federated-runtime.md
Due: none

docs: design federated RTI phase boundaries
  docs/superpowers/specs/2026-07-19-federated-rti-boundaries-design.md
Due: none

docs: plan federated RTI boundary refactor
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
Due: none

refactor: align lowering data with owning modules
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/federated/bindings.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/mode.rs
  boomerang_federated/src/rti/mod.rs
Due: boomerang_builder

chore: ignore local worktrees
  .gitignore
Due: none

docs: reconcile federated runner findings
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
  docs/superpowers/specs/2026-07-19-federated-rti-boundaries-design.md
Due: none

refactor(federated): trust identity-only hello
  boomerang_federated/src/client/mod.rs
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
Due: none

refactor(builder): analyze federation graph during lowering
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/federated/graph.rs
  boomerang_builder/src/federated/lowering.rs
  boomerang_builder/src/federated/mod.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

refactor(federated): define final RTI graph contract
  boomerang_federated/src/rti/graph.rs
  boomerang_federated/src/rti/mod.rs
Due: none

refactor(federated): plumb final RTI graph ownership
  boomerang/tests/federated_static.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/federated/graph.rs
  boomerang_builder/src/federated/lowering.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/hierarchy.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/rti/graph.rs
  boomerang_federated/src/rti/index.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
Due: boomerang, boomerang_builder

docs: adopt split-phase federate coordination
  docs/superpowers/specs/2026-07-19-federated-rti-boundaries-design.md
Due: none

docs: harden split-phase federate coordination
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
  docs/superpowers/specs/2026-07-19-federated-rti-boundaries-design.md
Due: none

fix(federated): coordinate all federate enclaves
  boomerang_federated/src/client/coordination/mod.rs
  boomerang_federated/src/client/coordination/tests.rs
  boomerang_federated/src/client/mod.rs
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/federate_coordination/layout.rs
  boomerang_federated/src/federate_coordination/mod.rs
  boomerang_federated/src/federate_coordination/service.rs
  boomerang_federated/src/federate_coordination/state.rs
  boomerang_federated/src/federate_coordination/tests.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/time.rs
Due: boomerang_runtime

fix(federated): close coordination review gaps
  boomerang_federated/src/client/coordination/mod.rs
  boomerang_federated/src/client/tests.rs
  boomerang_federated/src/federate_coordination/service.rs
  boomerang_federated/src/federate_coordination/state.rs
  boomerang_federated/src/federate_coordination/tests.rs
  boomerang_federated/src/static_runner.rs
Due: none

fix(federated): confirm terminal frame delivery
  boomerang_federated/src/client/coordination/mod.rs
  boomerang_federated/src/client/mod.rs
  boomerang_federated/src/client/tests.rs
Due: none

fix(federated): close coordination quality gaps
  boomerang_federated/src/client/mod.rs
  boomerang_federated/src/federate_coordination/service.rs
  boomerang_federated/src/lib.rs
Due: none

fix(federated): open rounds for cached grants
  boomerang_federated/src/federate_coordination/state.rs
Due: none

refactor(federated): remove raw RTI topology APIs
  boomerang_builder/src/lib.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti/mod.rs
  boomerang_federated/src/rti/tests.rs
Due: boomerang_builder

docs(federated): align protocol with RTI graph boundary
  docs/federated-protocol.md
Due: none

docs(federated): clarify protocol graph handoff
  docs/federated-protocol.md
Due: none

docs: describe federated RTI phase boundaries
  docs/federated-runtime.md
  docs/superpowers/plans/2026-07-19-federated-rti-boundaries.md
Due: none

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
