Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

test(runtime): cover real federate fanout failures
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

test(runtime): synchronize failure precedence fixture
  boomerang/tests/compiled_reference.rs
Due: boomerang

fix(runtime): finalize owned federate execution
  boomerang/tests/compiled_reference.rs
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/range.rs
Due: boomerang, boomerang_runtime, boomerang_tinymap

fix(runtime): harden federate termination and bindings
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
Due: boomerang_runtime

fix(runtime): park federate schedulers before commit
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
Due: boomerang_runtime

refactor(runtime): isolate enclave dependencies
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/federate/dependencies.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

refactor(runtime): narrow enclave dependency fields
  boomerang_runtime/src/sched/federate/dependencies.rs
Due: boomerang_runtime

refactor(runtime): isolate federate quiescence
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/mod.rs
  boomerang_runtime/src/sched/federate/quiescence.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

fix(runtime): abort recurring federate schedulers
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

fix(runtime): handle federate thread spawn failures
  boomerang_runtime/src/reference.rs
Due: boomerang_runtime

fix(macros): use canonical compiled mode effects
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
Due: boomerang_runtime

fix(builder): refresh ABI 3 fingerprint fixture
  boomerang_builder/src/descriptor/fingerprint.rs
Due: boomerang_builder

fix(runtime): reject rootless enclave images
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/image/view.rs
Due: boomerang, boomerang_runtime

refactor(runtime): borrow typed route identities
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

test(runtime): remove structural binding assertion
  boomerang_runtime/src/reference.rs
Due: boomerang_runtime

refactor(runtime): use dense quiescence state
  boomerang_runtime/src/sched/federate/quiescence.rs
Due: boomerang_runtime

fix(runtime): capture final federate origin
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

refactor(runtime): strengthen compiled identity handling
  boomerang_builder/src/compiler/lower.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_builder, boomerang_runtime

feat(tool): generate static Federate launchers
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/generated.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/check.rs
  cargo-boomerang/tests/codegen.rs
  cargo-boomerang/tests/descriptor_driver.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
Due: none

feat(tool): build fingerprinted deployment bundles
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/tests/build.rs
  cargo-boomerang/tests/codegen.rs
  cargo-boomerang/tests/fixtures/workspace/.cargo/profile-config.toml
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
Due: none

fix(runtime): coordinate logical horizon shutdown
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/quiescence.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_runtime

feat(tool): plumb deployment execution policy
  Cargo.toml
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/build.rs
  cargo-boomerang/tests/codegen.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/manifest.rs
Due: none

test(tool): prove canonical execution policy output
  cargo-boomerang/tests/build.rs
Due: none

fix(tool): re-export execution policy
  cargo-boomerang/src/lib.rs
  cargo-boomerang/tests/manifest.rs
Due: none

chore(deps): consolidate dependency versions
  Cargo.toml
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/replay.rs
  examples/snake/Cargo.toml
  examples/snake/src/support.rs
Due: boomerang_runtime

fix(runtime): avoid logical horizon queue scans
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang_runtime

fix(tool): keep deployment schema at version one
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/build.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/manifest.rs
Due: none

feat(runtime): retain owned execution statistics
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

feat(tool): supervise generated deployment artifacts
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/run.rs
Due: none

fix(tool): launch a verified private artifact copy
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/run.rs
Due: none

fix(tool): verify private launcher bytes before execution
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/run.rs
Due: none

feat(tool): run generated monolithic deployments
  cargo-boomerang/src/main.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/run.rs
Due: none

test(tool): assert exact application stderr
  cargo-boomerang/tests/run.rs
Due: none

ci: run the generated monolith
  .github/workflows/ci.yml
Due: none

fix(tool): harden generated deployment execution
  boomerang_runtime/src/sched/mod.rs
  cargo-boomerang/src/bundle.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/src/run.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/run.rs
Due: boomerang_runtime

fix(macros): satisfy latest stable Clippy
  boomerang_macros/src/reactor.rs
Due: none

ci: split mutually exclusive Clippy facets
  .github/workflows/ci.yml
Due: none

fix(runtime): preserve cached context provenance
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

fix(runtime): validate reaction cache inputs
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

fix(macros): serialize fixture lockfile lifecycle
  boomerang_macros/tests/facets.rs
Due: none

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
