Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

feat(runtime): add owned compiled-image storage
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/storage/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

fix(runtime): preserve owned storage execution state
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

feat(runtime): adapt compiled storage to scheduler core
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

fix(runtime): retain owned storage sendability
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

fix(runtime): preserve typed image validation errors
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
Due: boomerang, boomerang_runtime

feat(runtime): execute compiled images with owned storage
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

fix(runtime): track owned executor final work tag
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_runtime

fix(runtime): harden owned scheduler adapter
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

refactor(runtime): isolate compiled scheduler adapters
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

fix(runtime): harden owned compiled execution
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

refactor(runtime): tighten owned executor interfaces
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/key_set.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/src/storage/owned.rs
  docs/deployment-architecture.md
Due: boomerang, boomerang_runtime

docs(test): describe compiled executor seam
  boomerang/tests/compiled_reference.rs
Due: boomerang

docs(test): keep seam note within PR budget
  boomerang/tests/compiled_reference.rs
Due: boomerang

docs(runtime): define reference executor role
  boomerang_runtime/src/reference.rs
Due: boomerang_runtime

test(runtime): validate cached owned references
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_runtime

fix: reject unsupported compiled execution semantics
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/reference.rs
Due: boomerang, boomerang_builder, boomerang_runtime

test: quarantine delayed federation deadlock
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

feat(tool): validate Boomerang deployment manifests
  Cargo.lock
  Cargo.toml
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/fixtures/manifest/invalid-rti/Boomerang.toml
  cargo-boomerang/tests/fixtures/manifest/valid/Boomerang.toml
  cargo-boomerang/tests/manifest.rs
Due: none

chore: keep workspace lockfile untracked
  Cargo.lock
Due: none

feat(tool): resolve locked deployment packages
  Cargo.toml
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/fixtures/workspace/.cargo/host.toml
  cargo-boomerang/tests/fixtures/workspace/.gitattributes
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/outside-member/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/outside-member/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/targets/host.json
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
  cargo-boomerang/tests/workspace.rs
Due: none

refactor(tool): reuse deployment manifest types
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/workspace.rs
Due: none

feat(tool): generate deployment descriptor drivers
  boomerang_builder/Cargo.toml
  boomerang_builder/src/compiler/identity.rs
  boomerang_builder/src/compiler/model/action.rs
  boomerang_builder/src/compiler/model/bank.rs
  boomerang_builder/src/compiler/model/component.rs
  boomerang_builder/src/compiler/model/connection.rs
  boomerang_builder/src/compiler/model/enclave.rs
  boomerang_builder/src/compiler/model/mode.rs
  boomerang_builder/src/compiler/model/placement_group.rs
  boomerang_builder/src/compiler/model/port.rs
  boomerang_builder/src/compiler/model/reaction.rs
  boomerang_builder/src/compiler/model/reactor.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/src/descriptor/mod.rs
  boomerang_builder/src/host_interchange.rs
  boomerang_builder/src/lib.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/generated.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/descriptor_driver.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
  cargo-boomerang/tests/workspace.rs
Due: boomerang_builder

refactor(cargo-boomerang): use anyhow for CLI errors
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/generated.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/workspace.rs
Due: none

feat(tool): check complete deployment topology
  boomerang_builder/src/compiler/from_assembly.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests/topology.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-multiple/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-overflow/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-rejects-body/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/main.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/tests/check.rs
  cargo-boomerang/tests/descriptor_driver.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/workspace.rs
Due: boomerang_builder

fix(tool): preserve locked driver dependencies
  cargo-boomerang/src/driver.rs
Due: none

test(tool): normalize manifest path assertion
  cargo-boomerang/tests/workspace.rs
Due: none

test(tool): normalize configured path assertions
  cargo-boomerang/tests/workspace.rs
Due: none

feat(runtime): expose static payload bindings
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/compiled.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_builder/src/descriptor/fingerprint.rs
  boomerang_builder/src/descriptor/mod.rs
  boomerang_macros/Cargo.toml
  boomerang_macros/src/reactor.rs
  boomerang_macros/src/time.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/action-pass/Cargo.toml
  boomerang_macros/tests/fixtures/action-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/Cargo.toml
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/storage/owned.rs
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/workspace.rs
Due: boomerang, boomerang_builder, boomerang_runtime

fix(builder): lower banked payload bindings
  boomerang_builder/src/compiler/lower.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/action-pass/Cargo.toml
  boomerang_macros/tests/fixtures/action-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/metadata-free/src/lib.rs
Due: boomerang_builder

fix(runtime): harden static payload bindings
  boomerang_builder/src/compiler/lower.rs
  boomerang_macros/src/lib.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/src/time.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/src/lib.rs
  boomerang_runtime/src/binding/mod.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang_builder, boomerang_runtime

feat(runtime): add compiled scheduler semantics
  boomerang/tests/compiled_reference.rs
  boomerang_builder/src/compiler/lower.rs
  boomerang_federated/src/client.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/image/schema.rs
  boomerang_runtime/src/image/view.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/replay.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/src/time.rs
Due: boomerang, boomerang_builder, boomerang_runtime

fix(runtime): harden compiled scheduler semantics
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/src/store.rs
Due: boomerang, boomerang_runtime

fix(runtime): close final scheduler review gaps
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/src/time.rs
Due: boomerang, boomerang_runtime

refactor(runtime): simplify compiled reaction binding
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/src/store.rs
Due: boomerang, boomerang_runtime

fix(runtime): report periodic tag overflow
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/core.rs
Due: boomerang, boomerang_runtime

fix(runtime): preserve shutdown overflow suppression
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/sched/core.rs
Due: boomerang, boomerang_runtime

refactor(runtime): simplify shutdown overflow check
  boomerang_runtime/src/sched/core.rs
Due: boomerang_runtime

feat(runtime): execute owned compiled federates
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

fix(runtime): coordinate owned federate schedulers
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime

fix(runtime): harden federate executor failure paths
  boomerang/tests/compiled_reference.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/storage/owned.rs
Due: boomerang, boomerang_runtime
