Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_derive, boomerang_runtime, boomerang_tinymap, boomerang_util

codecov.yml:

codecov:
  token: 9ca1bec2-fd82-413b-90f1-bc2b709e2954

coverage:
  status:
    project:
      default:   # default is the status check's name, not default settings
        target: auto 
        threshold: 5
        base: auto
    patch:
      default:
        target: auto
        threshold: 1%

comment:
  layout: "header, diff, flags, components" # show component info in the PR comment

component_management:
  default_rules: # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doens't have a status defined will have a project type one
        target: auto
        threshold: 1%
        branches:
          - "!main"

  individual_components:
    - component_id: boomerang
      paths:
        - boomerang/**

    - component_id: boomerang_builder
      paths:
        - boomerang_builder/**

    - component_id: boomerang_derive
      paths:
        - boomerang_derive/**

    - component_id: boomerang_runtime
      name: boomerang_runtime
      paths:
        - boomerang_runtime/**

    - component_id: boomerang_tinymap
      paths:
        - boomerang_tinymap/**

    - component_id: boomerang_util
      paths:
        - boomerang_util/**

fix: correct plumbing of features across subcrates (#72)
  .gitignore
  boomerang/Cargo.toml
  boomerang_builder/Cargo.toml
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/refs.rs
  boomerang_tinymap/src/map/iter_many.rs
  boomerang_util/src/runner.rs
  codecov.yml
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

fix broken builder
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/tests.rs
Due: boomerang_builder

build: add commitlint job to CI workflow
  .github/workflows/ci.yml
  renovate.json
Due: none

build: add commitlint job to CI workflow (#73)
  .github/workflows/ci.yml
  renovate.json
Due: none

fixup doc tests
  boomerang/src/lib.rs
Due: boomerang

WIP new approach
  boomerang_builder/src/foo.rs
  boomerang_builder/src/lib.rs
Due: boomerang_builder

refactor(tinymap): simplify lifetime annotations in boomerang_tinymap
  boomerang_tinymap/src/key_set/mod.rs
  boomerang_tinymap/src/map/chunks.rs
  boomerang_tinymap/src/map/iter_many.rs
  boomerang_tinymap/src/secondary_map/iter_many.rs
  boomerang_tinymap/src/secondary_map/mod.rs
Due: boomerang_tinymap

refactor(tinymap): simplify lifetime annotations in boomerang_tinymap (#74)
  boomerang_tinymap/src/key_set/mod.rs
  boomerang_tinymap/src/map/chunks.rs
  boomerang_tinymap/src/map/iter_many.rs
  boomerang_tinymap/src/secondary_map/iter_many.rs
  boomerang_tinymap/src/secondary_map/mod.rs
Due: boomerang_tinymap

fix: update lifetime annotations for ReactorBuilderState and ReactionBuilderState
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/reactor.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/refs.rs
  boomerang_tinymap/src/secondary_map/mod.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

refactor(store): simplify pinning logic and improve safety documentation
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

fixup
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

Update lifetime annotations and simplify pinning logic (#78)
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/reactor.rs
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/refs.rs
  boomerang_runtime/src/store.rs
  boomerang_tinymap/src/secondary_map/mod.rs
Due: boomerang_builder, boomerang_runtime, boomerang_tinymap

refactor(runtime): bucket action store by offset
  .agent/EXECPLAN.md
  boomerang/Cargo.toml
  boomerang/benches/ping_pong.rs
  boomerang_runtime/src/action/store.rs
Due: boomerang, boomerang_runtime

test: add microsteps_multiple_actions test for scheduling logic
  boomerang/tests/microsteps_multiple_actions.rs
  boomerang_runtime/src/action/action_ref.rs
  boomerang_runtime/src/action/store.rs
  boomerang_runtime/src/context.rs
Due: boomerang, boomerang_runtime

fix(runtime): update context test for DynActionRefMut
  boomerang_runtime/src/context.rs
Due: boomerang_runtime

chore: remove ExecPlan from main
  .agent/EXECPLAN.md
Due: none

feat: wire physical event queue size into env builder
  boomerang/benches/benchmark.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_util/src/runner.rs
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

fix: gate pprof profiling on windows
  boomerang/Cargo.toml
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
Due: boomerang

feat: wire physical event queue size into env builder (#80)
  boomerang/Cargo.toml
  boomerang/benches/benchmark.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_util/src/runner.rs
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

fix: stabilize plantuml diagrams
  boomerang/tests/multiport_fully_connected.rs
  boomerang_builder/src/plantuml.rs
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_util

refactor: remove graphviz generation
  boomerang/Cargo.toml
  boomerang_builder/Cargo.toml
  boomerang_builder/src/graphviz.rs
  boomerang_builder/src/lib.rs
  boomerang_util/Cargo.toml
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_util

refactor: use clap env for reaction graph
  boomerang_util/Cargo.toml
  boomerang_util/src/runner.rs
Due: boomerang_util

Fix PlantUML diagram generation (#81)
  boomerang/Cargo.toml
  boomerang/tests/multiport_fully_connected.rs
  boomerang_builder/Cargo.toml
  boomerang_builder/src/graphviz.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/plantuml.rs
  boomerang_util/Cargo.toml
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_util

docs: expand book content
  .agent/ExecPlan-book.md
  book/book.toml
  book/src/SUMMARY.md
  book/src/advanced/README.md
  book/src/concepts/README.md
  book/src/concepts/actions-ports.md
  book/src/concepts/determinism.md
  book/src/concepts/reactions.md
  book/src/concepts/reactors.md
  book/src/concepts/time-tags.md
  book/src/glossary.md
  book/src/guides/README.md
  book/src/guides/composition.md
  book/src/guides/state.md
  book/src/guides/testing.md
  book/src/guides/timers.md
  book/src/introduction.md
  book/src/quickstart.md
  book/src/replay.md
  book/src/writing-reactors/README.md
  book/src/writing-reactors/a-first-reactor.md
  book/src/writing-reactors/actions.md
  book/src/writing-reactors/composing.md
  book/src/writing-reactors/inputs-outputs.md
  book/src/writing-reactors/parameters-state.md
  book/src/writing-reactors/reactions.md
  book/src/writing-reactors/time-timers.md
Due: none

feat: add runtime port banks and connection helpers
  boomerang/src/lib.rs
  boomerang/tests/connection_helpers.rs
  boomerang/tests/port_bank_reaction.rs
  boomerang_builder/src/action.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/port.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/refs_extract.rs
Due: boomerang, boomerang_builder, boomerang_runtime

test: cover port bank helpers and macro bank typing
  boomerang/tests/connection_helpers.rs
  boomerang/tests/multiport_fully_connected.rs
  boomerang/tests/port_bank_reaction.rs
  boomerang_macros/src/reactor.rs
Due: boomerang

refactor: avoid port bank allocations with slice views
  .agent/ExecPlan-port-banks.md
  boomerang/tests/connection_helpers.rs
  boomerang/tests/port_bank_reaction.rs
  boomerang_builder/src/port.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/refs.rs
Due: boomerang, boomerang_builder, boomerang_runtime

bench: add port bank topology benchmarks
  boomerang/Cargo.toml
  boomerang/benches/port_bank.rs
Due: boomerang

fixup: remove the ExecPlan
  .agent/ExecPlan-port-banks.md
Due: none

feat/port banks (#83)
  boomerang/Cargo.toml
  boomerang/benches/port_bank.rs
  boomerang/src/lib.rs
  boomerang/tests/connection_helpers.rs
  boomerang/tests/multiport_fully_connected.rs
  boomerang/tests/port_bank_reaction.rs
  boomerang_builder/src/action.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/port.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/refs.rs
  boomerang_runtime/src/refs_extract.rs
Due: boomerang, boomerang_builder, boomerang_runtime

feat: add modal reactors spike
  .agent/EXECPLAN-modal-reactors.md
  .agent/ExecPlan-plantuml.md
  .agent/ExecPlan-port-banks.md
  .agent/PLANS.md
  AGENTS.md
  boomerang/Cargo.toml
  boomerang/benches/ping_pong.rs
  boomerang/src/lib.rs
  boomerang/tests/modal_basic.rs
  boomerang/tests/modal_mixed_reactions.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_macros/src/reaction.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/debug.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched.rs
  boomerang_runtime/src/store.rs
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

docs: plan full modal reactors
  .agent/EXECPLAN-modal-reactors.md
Due: none

docs: update modal reactors plan
  .agent/EXECPLAN-modal-reactors.md
Due: none

feat: add typed modal transition effects
  .agent/EXECPLAN-modal-reactors.md
  boomerang/src/lib.rs
  boomerang/tests/modal_mixed_reactions.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/reaction.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/refs_extract.rs
  boomerang_runtime/src/sched.rs
Due: boomerang, boomerang_builder, boomerang_runtime

feat: add structural modal syntax
  .agent/EXECPLAN-modal-reactors.md
  boomerang/tests/modal_structural_syntax.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/reactor.rs
Due: boomerang, boomerang_builder

feat: add modal scope metadata
  .agent/EXECPLAN-modal-reactors.md
  boomerang_builder/src/action.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_builder, boomerang_runtime

feat: scope modal child and connection reactors
  .agent/EXECPLAN-modal-reactors.md
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/env/mod.rs
Due: boomerang_builder, boomerang_runtime

refactor: remove modal compatibility transition syntax
  .agent/EXECPLAN-modal-reactors.md
  boomerang/tests/modal_basic.rs
  boomerang/tests/modal_mixed_reactions.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/reaction.rs
  boomerang_macros/src/reaction.rs
  boomerang_macros/src/reactor.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/debug.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched.rs
Due: boomerang, boomerang_builder, boomerang_runtime
