Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

feat: gate reactions by modal scope
  .agent/EXECPLAN-modal-reactors.md
  boomerang/benches/benchmark.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang/benches/port_bank.rs
  boomerang/tests/modal_nested_reactions.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reactor.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_runtime/src/sched.rs
  boomerang_runtime/src/store.rs
  boomerang_util/src/runner.rs
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

perf: resolve modal effects to runtime keys
  .agent/EXECPLAN-modal-reactors.md
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/reaction.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/sched.rs
Due: boomerang_builder, boomerang_runtime

feat: implement modal local-time semantics
  .agent/EXECPLAN-modal-reactors.md
  boomerang/tests/modal_actions.rs
  boomerang/tests/modal_count_3_modes.rs
  boomerang/tests/modal_delayed_connections.rs
  boomerang/tests/modal_physical_actions.rs
  boomerang/tests/modal_reset_reactions.rs
  boomerang/tests/modal_startup_shutdown.rs
  boomerang/tests/modal_timers.rs
  boomerang_builder/src/env/build.rs
  boomerang_runtime/src/action/mod.rs
  boomerang_runtime/src/action/store.rs
  boomerang_runtime/src/env/debug.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched.rs
  boomerang_runtime/src/store.rs
Due: boomerang, boomerang_builder, boomerang_runtime

docs: document modal reactors
  .agent/EXECPLAN-modal-reactors.md
  book/book.toml
  book/src/SUMMARY.md
  book/src/glossary.md
  book/src/modal-reactors.md
Due: none

feat: account for modal exclusivity in cycles
  .agent/EXECPLAN-modal-reactors.md
  boomerang/tests/modal_cycle_breaker.rs
  boomerang_builder/src/env/mod.rs
Due: boomerang, boomerang_builder

test: cover modal multiport banks
  .agent/EXECPLAN-modal-reactors.md
  boomerang/tests/modal_multiport_bank.rs
Due: boomerang

perf: add modal inactive-scope benchmark
  .agent/EXECPLAN-modal-reactors.md
  boomerang/Cargo.toml
  boomerang/benches/modal_modes.rs
Due: boomerang

perf: restore non-modal scheduler fast path
  .agent/EXECPLAN-modal-reactors.md
  boomerang_runtime/src/sched.rs
Due: boomerang_runtime

docs: record modal reactors validation
  .agent/EXECPLAN-modal-reactors.md
Due: none

chore: fix workspace formatting
  .agent/EXECPLAN-modal-reactors.md
  boomerang/benches/physical_actions.rs
  boomerang/tests/action_delay.rs
  boomerang/tests/connection_helpers.rs
  boomerang/tests/generic_after.rs
  boomerang/tests/hello_world.rs
  boomerang/tests/microsteps_multiple_actions.rs
  boomerang_macros/src/lib.rs
  boomerang_macros/src/ports.rs
  boomerang_runtime/src/action/action_ref.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_runtime/src/refs.rs
Due: boomerang, boomerang_runtime

perf: optimize modal scheduler hot paths
  .agent/EXECPLAN-modal-reactors-perf.md
  boomerang/Cargo.toml
  boomerang/benches/modal_scheduler_perf.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/action/store.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched.rs
Due: boomerang, boomerang_builder, boomerang_runtime

refactor: optimize scheduler scope state
  boomerang_runtime/src/sched.rs
Due: boomerang_runtime

fix: handle modal reactor edge cases
  book/src/modal-reactors.md
  boomerang/tests/modal_actions.rs
  boomerang/tests/modal_cycle_breaker.rs
  boomerang_builder/src/env/mod.rs
  boomerang_runtime/src/sched.rs
Due: boomerang, boomerang_builder, boomerang_runtime

refactor: split scheduler modules
  .agent/EXECPLAN-modal-reactors-perf.md
  boomerang/tests/after.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/port.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/sched.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
Due: boomerang, boomerang_builder, boomerang_runtime

chore: remove agent plans from pr
  .agent/EXECPLAN-modal-reactors-perf.md
  .agent/EXECPLAN-modal-reactors.md
  .agent/ExecPlan-plantuml.md
  .agent/ExecPlan-port-banks.md
  .agent/PLANS.md
Due: none

fix: support all-features modal test build
  boomerang/tests/modal_count_3_modes.rs
  boomerang/tests/scheduler_alloc.rs
Due: boomerang

chore: untrack agents instructions
  AGENTS.md
Due: none

refactor: consolidate reaction graph mode metadata
  boomerang_runtime/src/env/debug.rs
  boomerang_runtime/src/env/mod.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_runtime

fixup: added docs for sched::modal types
  boomerang_runtime/src/sched/modal.rs
Due: boomerang_runtime

refactor: keep modal state in scheduler
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/store.rs
Due: boomerang_runtime

feat: add federated builder topology groundwork
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang_builder/Cargo.toml
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/debug.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_util/src/runner.rs
Due: boomerang, boomerang_builder, boomerang_util

feat: add federated protocol crate
  Cargo.toml
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/README.md
  boomerang_federated/src/codec.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/transport.rs
Due: boomerang

feat: add federated scheduler time barrier hook
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang/Cargo.toml
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang, boomerang_runtime

feat: lower federated endpoints
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang_builder/Cargo.toml
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
Due: boomerang_builder, boomerang_runtime

refactor: infer federated builder connections
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

feat: add federated tcp transport smoke
  FEDERATED_REACTORS_EXECPLAN.md
  boomerang_federated/Cargo.toml
  boomerang_federated/src/lib.rs
  boomerang_federated/src/transport.rs
Due: none

feat: add builder inter-partition topology
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang/src/lib.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/debug.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/inter_partition.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
Due: boomerang, boomerang_builder

feat: add federated bridge utilities
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang/Cargo.toml
  boomerang/src/lib.rs
  boomerang_builder/Cargo.toml
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/lib.rs
  boomerang_federated/src/runtime_bridge.rs
Due: boomerang, boomerang_builder

feat: add live federated outbound channel
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
Due: boomerang_runtime

feat: add federated RTI session loop
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang_federated/Cargo.toml
  boomerang_federated/src/lib.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/transport.rs
Due: none

feat: add federate client bridge
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang_federated/Cargo.toml
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_util/Cargo.toml
  boomerang_util/src/lib.rs
  boomerang_util/src/test_tracing.rs
Due: boomerang_util

feat: add in-memory static federation runner
  AGENTS.md
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang/src/lib.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/Cargo.toml
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
Due: boomerang, boomerang_builder, boomerang_runtime

feat: define static federation shutdown semantics
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
Due: boomerang_builder

feat: promote federated tcp runtime path
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/transport.rs
Due: none

test: document and cover static federation runtime
  .vscode/settings.json
  book/src/SUMMARY.md
  book/src/static-federation.md
  boomerang/Cargo.toml
  boomerang/tests/federated_static.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/session.rs
  docs/README.md
  docs/federated-runtime.md
Due: boomerang, boomerang_builder

feat: add tcp static federation runner
  AGENTS.md
  FEDERATED_REACTORS_EXECPLAN.md
  FEDERATED_REACTORS_RUNTIME_EXECPLAN.md
  book/src/static-federation.md
  boomerang/src/lib.rs
  boomerang/tests/federated_static.rs
  boomerang_builder/src/federation.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang, boomerang_builder

fix: fail closed on federated barrier errors
  boomerang_federated/src/client.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
Due: boomerang_runtime

fix: propagate federated sender failures
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
Due: boomerang_builder, boomerang_runtime

fix: separate federated delivery acknowledgements
  boomerang_federated/src/client.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/transport.rs
Due: none

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
