Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

fix: identify tcp federates by hello
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
Due: none

docs: describe static federation failure semantics
  book/src/static-federation.md
  docs/federated-runtime.md
Due: none

fix: gate tcp handshake import
  boomerang_federated/src/transport.rs
Due: none

docs: add internal federation protocol documentation
  docs/README.md
  docs/federated-protocol.md
Due: none

refactor: make federated outbound routing explicit
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  docs/federated-runtime.md
Due: boomerang_builder, boomerang_runtime

docs: diagram federated runtime components
  docs/federated-runtime.md
Due: none

refactor: prebuild federated runtime connections
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  docs/federated-runtime.md
Due: boomerang_builder, boomerang_runtime

refactor: partition federated runtime connections
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/static_runner.rs
  docs/federated-runtime.md
Due: boomerang_builder

refactor: unify runtime errors and endpoint identity
  boomerang/benches/benchmark.rs
  boomerang/benches/modal_modes.rs
  boomerang/benches/modal_scheduler_perf.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang/benches/port_bank.rs
  boomerang/src/lib.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/client.rs
  boomerang_federated/src/runtime_bridge.rs
  boomerang_federated/src/static_runner.rs
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/env/tests.rs
  boomerang_runtime/src/federated.rs
  boomerang_runtime/src/lib.rs
  boomerang_runtime/src/reaction.rs
  boomerang_runtime/src/replay.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_util/src/runner.rs
  examples/snake/src/keyboard.rs
  examples/snake/src/keyboard_events.rs
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

fix: satisfy clippy lints
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_federated/src/rti.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/static_runner.rs
  boomerang_federated/src/transport.rs
Due: boomerang_builder

docs: define architecture and project goals
  README.md
  book/src/SUMMARY.md
  book/src/introduction.md
  book/src/project-goals.md
  book/src/replay.md
  docs/README.md
  docs/architecture.md
Due: none

docs: define architecture and project goals (#97)
  README.md
  book/src/SUMMARY.md
  book/src/introduction.md
  book/src/project-goals.md
  book/src/replay.md
  docs/README.md
  docs/architecture.md
Due: none

test(federated): add synchronization trace contracts
  boomerang_federated/src/lib.rs
  boomerang_federated/src/test_trace.rs
Due: none

test(federated): trace source-to-sink exchange
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
Due: none

test(federated): capture traces at transport boundary
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
Due: none

refactor(federated): retain raw protocol trace frames
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
Due: none

docs(federated): document protocol trace helpers
  boomerang_federated/src/test_trace.rs
Due: none

test(federated): trace same-tag acknowledgments
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
Due: none

perf(sync): deduplicate pending coordination requests
  boomerang_federated/src/client.rs
  boomerang_runtime/src/sched/barrier.rs
Due: boomerang_runtime

docs(federated): document barrier state
  boomerang_federated/src/client.rs
Due: none

test(federated): bound positive-delay cycle traffic
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
Due: none

docs(sync): document coordination contracts
  boomerang_runtime/src/sched/barrier.rs
  docs/federated-protocol.md
Due: boomerang_runtime

fix(sync): preserve pending enclave requests
  boomerang_runtime/src/sched/barrier.rs
Due: boomerang_runtime

Use Rust caching in the codecov pipeline
  .github/workflows/codecov.yml
Due: none

Use Rust caching in the codecov pipeline (#99)
  .github/workflows/codecov.yml
Due: none

test(sync): add trace contracts and deduplicate requests (#98)
  boomerang_federated/src/client.rs
  boomerang_federated/src/lib.rs
  boomerang_federated/src/session.rs
  boomerang_federated/src/test_trace.rs
  boomerang_runtime/src/sched/barrier.rs
  docs/federated-protocol.md
Due: boomerang_runtime

ci: reduce duplicate and redundant Actions work
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  codecov.yml
Due: none

ci: consolidate Renovate updates biweekly
  renovate.json
Due: none

ci: parallelize Miri tests with nextest
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  boomerang_runtime/src/port/mod.rs
Due: boomerang_runtime

fix: satisfy Rust 1.97 Clippy lints
  boomerang/benches/ping_pong.rs
  boomerang_builder/src/tests.rs
  boomerang_util/src/runner.rs
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_util

ci: scope Miri to integration tests
  .github/workflows/ci.yml
Due: none

ci: reduce Actions and Renovate workload (#100)
  .github/workflows/book.yml
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  boomerang/benches/ping_pong.rs
  boomerang_builder/src/tests.rs
  boomerang_runtime/src/port/mod.rs
  boomerang_util/src/runner.rs
  codecov.yml
  examples/snake/src/keyboard.rs
  renovate.json
Due: boomerang, boomerang_builder, boomerang_runtime, boomerang_util

refactor(builder): rename environment builder to assembly
  book/src/static-federation.md
  boomerang/benches/benchmark.rs
  boomerang/benches/modal_modes.rs
  boomerang/benches/modal_scheduler_perf.rs
  boomerang/benches/physical_actions.rs
  boomerang/benches/ping_pong.rs
  boomerang/benches/port_bank.rs
  boomerang/src/lib.rs
  boomerang/tests/federated_static.rs
  boomerang/tests/scheduler_alloc.rs
  boomerang_builder/README.md
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/debug.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/env/tests.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/plantuml.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
  boomerang_util/src/runner.rs
  docs/federated-runtime.md
  examples/snake/src/keyboard.rs
Due: boomerang, boomerang_builder, boomerang_util

refactor(builder): rename stored builders to specs
  boomerang_builder/src/action.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/debug.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/plantuml.rs
  boomerang_builder/src/port.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
Due: boomerang_builder

refactor(builder): rename assembly keys
  boomerang/src/lib.rs
  boomerang_builder/src/action.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/env/build.rs
  boomerang_builder/src/env/debug.rs
  boomerang_builder/src/env/mod.rs
  boomerang_builder/src/federation.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/inter_partition.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/plantuml.rs
  boomerang_builder/src/port.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
Due: boomerang, boomerang_builder

refactor(builder): rename environment module to assembly
  boomerang_builder/src/action.rs
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/debug.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/assembly/tests.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/fqn.rs
  boomerang_builder/src/lib.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_builder/src/tests/federated.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
Due: boomerang_builder

refactor(builder): rename reactor declaration context
  boomerang_builder/README.md
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reactor.rs
  boomerang_builder/src/tests.rs
  boomerang_macros/src/ports.rs
  boomerang_macros/src/reactor.rs
Due: boomerang_builder

refactor(builder): rename reaction declaration
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/macro_support.rs
  boomerang_builder/src/reaction.rs
Due: boomerang_builder

refactor(builder): rename deferred factories
  boomerang_builder/src/assembly/build.rs
  boomerang_builder/src/assembly/mod.rs
  boomerang_builder/src/connection.rs
  boomerang_builder/src/reaction.rs
  boomerang_builder/src/reactor.rs
Due: boomerang_builder

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
