Repository jondo2010/boomerang: changes, and which Codecov flags are due for each by the changed paths.
All: boomerang, boomerang_builder, boomerang_runtime, boomerang_tinymap, boomerang_util

feat(rti): add DNET and selective completion reports
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  boomerang_runtime/src/boundary.rs
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/sched/compiled.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/federate/backend.rs
  boomerang_runtime/src/sched/federate/orchestration.rs
  boomerang_runtime/src/sched/federate/state.rs
  boomerang_runtime/src/sched/modal.rs
  boomerang_runtime/src/sched/queue.rs
  docs/federated-protocol.md
Due: boomerang_runtime

test(runtime): cover network input merging with queued local work
  boomerang_runtime/src/sched/queue.rs
Due: boomerang_runtime

refactor(protocol): name DNET reply SuppressPublication
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/src/compiled/state/tests.rs
  boomerang_central_rti/src/compiled/tests.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  docs/deployment-architecture.md
  docs/federated-deployment-roadmap.md
  docs/federated-protocol.md
Due: none

feat(builder): generate component topology constructors
  boomerang_builder/src/compiler/authoring.rs
  boomerang_builder/src/compiler/mod.rs
  boomerang_builder/src/compiler/model/topology.rs
  boomerang_builder/tests/topology_authoring.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/src/reactor/topology.rs
  boomerang_macros/tests/topology.rs
  examples/snake/Cargo.toml
  examples/snake/README.md
  examples/snake/src/lib.rs
  examples/snake/tests/compiled_topology.rs
  examples/snake/tests/fixtures/keyboard-topology.json
  examples/snake/tests/fixtures/snake-topology.json
  examples/snake/tests/keyboard_authoring.rs
Due: boomerang_builder

refactor(cargo-boomerang): compose fixtures from owned components
  boomerang_builder/src/compiler/authoring.rs
  boomerang_builder/tests/topology_authoring.rs
  cargo-boomerang/tests/fixtures/owned-reference-payloads/Cargo.toml
  cargo-boomerang/tests/fixtures/owned-reference-payloads/build.rs
  cargo-boomerang/tests/fixtures/owned-reference-payloads/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/Boomerang.toml
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/legacy-peer/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/legacy-peer/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/sensor-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/sensor-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/transitive-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/transitive-host/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-control/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/vehicle-topology/src/lib.rs
  cargo-boomerang/tests/support/mod.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/toolchain/components.rs
  cargo-boomerang/tests/toolchain/descriptor_driver.rs
  cargo-boomerang/tests/workspace.rs
Due: boomerang_builder

refactor(snake): keep example verification compile-only
  examples/snake/Cargo.toml
  examples/snake/README.md
  examples/snake/tests/compiled_smoke.py
  examples/snake/tests/compiled_topology.rs
  examples/snake/tests/fixtures/keyboard-topology.json
  examples/snake/tests/fixtures/snake-topology.json
  examples/snake/tests/keyboard_authoring.rs
Due: none

refactor(components): remove legacy facet feature selectors
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  boomerang/Cargo.toml
  boomerang/build.rs
  boomerang_macros/src/component.rs
  boomerang_macros/src/reactor.rs
  boomerang_macros/tests/facets.rs
  boomerang_macros/tests/fixtures/descriptor-duplicate-reaction/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-invalid-contract/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-multiple/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-overflow/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/Cargo.toml
  boomerang_macros/tests/fixtures/descriptor-pass/src/lib.rs
  boomerang_macros/tests/fixtures/descriptor-rejects-body/Cargo.toml
  boomerang_macros/tests/fixtures/metadata-free/Cargo.toml
  boomerang_macros/tests/fixtures/metadata-free/src/lib.rs
  boomerang_macros/tests/fixtures/payload-launcher/Cargo.toml
  boomerang_macros/tests/fixtures/state-init-without-state/Cargo.toml
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/driver.rs
  cargo-boomerang/src/generated.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/fixtures/workspace/Cargo.lock
  cargo-boomerang/tests/fixtures/workspace/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/legacy-peer/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/legacy-peer/src/lib.rs
  cargo-boomerang/tests/fixtures/workspace/outside-member/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/transitive-host/Cargo.toml
  cargo-boomerang/tests/fixtures/workspace/transitive-host/src/lib.rs
  cargo-boomerang/tests/toolchain/build.rs
  cargo-boomerang/tests/toolchain/codegen.rs
  cargo-boomerang/tests/toolchain/descriptor_driver.rs
  cargo-boomerang/tests/workspace.rs
Due: boomerang

refactor(cargo-boomerang): serialize compiler wrapper manifest
  cargo-boomerang/src/driver.rs
Due: none

test(cargo-boomerang): compare wrapper paths portably
  cargo-boomerang/src/facet.rs
Due: none

feat(federated): add coordination conformance oracle
  boomerang_federated/src/conformance.rs
  boomerang_federated/src/lib.rs
Due: none

test(federated): cover conformance construction failures
  boomerang_federated/src/conformance.rs
Due: none

test(federated): simulate deterministic ordered faults
  boomerang_federated/src/conformance.rs
Due: none

test(federated): harden deterministic fault conformance
  boomerang_federated/src/conformance.rs
Due: none

test(rti): compare coordination vectors with oracle
  boomerang_central_rti/tests/compiled_execution.rs
Due: none

test(rti): verify complete oracle coordination trace
  boomerang_central_rti/tests/compiled_execution.rs
Due: none

test(federated): gate conformance support
  boomerang_central_rti/Cargo.toml
  boomerang_federated/Cargo.toml
  boomerang_federated/src/conformance/mod.rs
  boomerang_federated/src/conformance/tests.rs
  boomerang_federated/src/lib.rs
Due: none

docs(federated): explain conformance oracle
  boomerang_federated/src/conformance/mod.rs
Due: none

test(rti): reuse tagged payload vector
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_federated/src/conformance/mod.rs
  boomerang_federated/src/conformance/tests.rs
Due: none

fix(federated): distinguish unknown publication from idle
  boomerang_federated/src/conformance/mod.rs
  boomerang_federated/src/conformance/tests.rs
Due: none

feat(federated): add structured coordination tracing
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
Due: none

test(runtime): assert worker spawn failure traces
  boomerang_runtime/src/reference.rs
Due: boomerang_runtime

ci: validate stacked phase 6 tracing pull request
  .github/workflows/ci.yml
Due: none

fix(runtime): reject invalid bindings during preflight
  boomerang_runtime/src/reference.rs
  boomerang_runtime/tests/compiled_execution/lifecycle.rs
Due: boomerang_runtime

feat(tracing): correlate compiled execution and subscriber output
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/hosted/channel.rs
  boomerang_central_rti/src/compiled/hosted/mod.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/mod.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_central_rti/tests/compiled_execution/transport.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_util/src/lib.rs
  boomerang_util/src/trace.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/tests/toolchain/build.rs
Due: boomerang_runtime, boomerang_util

refactor(runtime): purify tracing metadata
  boomerang_runtime/src/context.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/src/store.rs
  cargo-boomerang/tests/toolchain/run.rs
Due: boomerang_runtime

feat(tracing): use appender for hosted output
  Cargo.toml
  boomerang_util/Cargo.toml
  boomerang_util/src/launcher.rs
  boomerang_util/src/trace.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
Due: boomerang_util

feat(runtime): trace construction lifecycle
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/tests/compiled_execution.rs
  boomerang_runtime/tests/compiled_execution/distributed.rs
  boomerang_runtime/tests/compiled_execution/lifecycle.rs
  boomerang_runtime/tests/compiled_execution/preflight.rs
Due: boomerang_runtime

test(tracing): isolate captures and support Miri execution
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_runtime/tests/compiled_execution.rs
Due: boomerang_runtime

test(federated): add fault-scheduled RTI conformance coverage
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/conformance.rs
  boomerang_federated/src/conformance/mod.rs
  boomerang_federated/src/conformance/tests.rs
Due: none

test(tracing-bounded): establish closed-callsite qualification
  Cargo.toml
  tracing-bounded/Cargo.toml
  tracing-bounded/LICENSE-APACHE
  tracing-bounded/LICENSE-MIT
  tracing-bounded/QUALIFICATION.md
  tracing-bounded/README.md
  tracing-bounded/SPEC.md
  tracing-bounded/src/lib.rs
  tracing-bounded/tests/fixtures/native-path/.gitignore
  tracing-bounded/tests/fixtures/native-path/Cargo.lock
  tracing-bounded/tests/fixtures/native-path/Cargo.toml.in
  tracing-bounded/tests/fixtures/native-path/src/allocation.rs
  tracing-bounded/tests/fixtures/native-path/src/main.rs
  tracing-bounded/tests/fixtures/native-path/src/output.rs
  tracing-bounded/tests/fixtures/native-path/src/sites.rs
  tracing-bounded/tests/run-native-path.sh
Due: none

ci: validate stacked bounded tracing pull requests
  .github/workflows/ci.yml
Due: none

feat(tracing-bounded): add bounded root-event capture
  Cargo.toml
  tracing-bounded/Cargo.toml
  tracing-bounded/QUALIFICATION.md
  tracing-bounded/README.md
  tracing-bounded/SPEC.md
  tracing-bounded/src/capture.rs
  tracing-bounded/src/capture/loss.rs
  tracing-bounded/src/capture/record.rs
  tracing-bounded/src/capture/tests.rs
  tracing-bounded/src/lib.rs
  tracing-bounded/src/test_allocation.rs
  tracing-bounded/tests/fixtures/native-path/.gitignore
  tracing-bounded/tests/fixtures/native-path/Cargo.lock
  tracing-bounded/tests/fixtures/native-path/Cargo.toml.in
  tracing-bounded/tests/native_path/main.rs
  tracing-bounded/tests/native_path/output.rs
  tracing-bounded/tests/native_path/sites.rs
  tracing-bounded/tests/run-native-path.sh
Due: none

feat(tracing-bounded): validate capture budgets and prepare active dispatchers
  tracing-bounded/QUALIFICATION.md
  tracing-bounded/README.md
  tracing-bounded/SPEC.md
  tracing-bounded/src/capture.rs
  tracing-bounded/src/capture/record.rs
  tracing-bounded/src/capture/subscriber.rs
  tracing-bounded/src/lib.rs
  tracing-bounded/src/subscriber_tests.rs
Due: none

feat(tracing-bounded): implement native subscriber and span lifecycle
  tracing-bounded/QUALIFICATION.md
  tracing-bounded/README.md
  tracing-bounded/SPEC.md
  tracing-bounded/src/capture.rs
  tracing-bounded/src/capture/loss.rs
  tracing-bounded/src/capture/record.rs
  tracing-bounded/src/capture/subscriber.rs
  tracing-bounded/src/capture/tests.rs
  tracing-bounded/src/lib.rs
  tracing-bounded/src/subscriber_tests.rs
Due: none

feat(tracing): integrate configurable bounded coordination capture
  Cargo.toml
  boomerang_central_rti/Cargo.toml
  boomerang_central_rti/README.md
  boomerang_central_rti/src/compiled/client.rs
  boomerang_central_rti/src/compiled/hosted/channel.rs
  boomerang_central_rti/src/compiled/hosted/mod.rs
  boomerang_central_rti/src/compiled/hosted/server.rs
  boomerang_central_rti/src/compiled/state/mod.rs
  boomerang_central_rti/tests/compiled_execution.rs
  boomerang_central_rti/tests/compiled_execution/client.rs
  boomerang_central_rti/tests/compiled_execution/conformance.rs
  boomerang_federated/src/channel.rs
  boomerang_federated/src/protocol.rs
  boomerang_federated/src/wire.rs
  boomerang_federated/src/wire/tests.rs
  boomerang_runtime/Cargo.toml
  boomerang_runtime/src/boundary.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/storage/owned.rs
  boomerang_runtime/src/time.rs
  boomerang_runtime/tests/compiled_execution/distributed.rs
  boomerang_util/Cargo.toml
  boomerang_util/README.md
  boomerang_util/src/launcher.rs
  boomerang_util/src/launcher/bounded.rs
  boomerang_util/src/lib.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/build.rs
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/tracing.rs
  cargo-boomerang/src/workspace.rs
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/toolchain/build.rs
Due: boomerang_runtime, boomerang_util

feat(tracing): configure native runtime capture filters
  boomerang_central_rti/README.md
  boomerang_runtime/src/event.rs
  boomerang_runtime/src/reference.rs
  boomerang_runtime/src/reference/distributed.rs
  boomerang_runtime/src/sched/barrier.rs
  boomerang_runtime/src/sched/core.rs
  boomerang_runtime/src/sched/mod.rs
  boomerang_runtime/src/sched/queue.rs
  boomerang_runtime/tests/compiled_execution/distributed.rs
  boomerang_runtime/tests/compiled_execution/lifecycle.rs
  boomerang_util/README.md
  boomerang_util/src/launcher.rs
  boomerang_util/src/launcher/bounded.rs
  cargo-boomerang/Cargo.toml
  cargo-boomerang/src/check.rs
  cargo-boomerang/src/codegen/mod.rs
  cargo-boomerang/src/codegen/rust.rs
  cargo-boomerang/src/lib.rs
  cargo-boomerang/src/manifest.rs
  cargo-boomerang/src/tracing.rs
  cargo-boomerang/tests/manifest.rs
  cargo-boomerang/tests/toolchain/build.rs
Due: boomerang_runtime, boomerang_util

test(tool): isolate wrapper precedence from coverage environment
  cargo-boomerang/src/facet.rs
Due: none

test(boomerang): isolate hosted helpers from payload facet
  boomerang/Cargo.toml
Due: boomerang

refactor(tinymap): establish no-std core
  boomerang_tinymap/Cargo.toml
  boomerang_tinymap/src/error.rs
  boomerang_tinymap/src/key_set/mod.rs
  boomerang_tinymap/src/key_set/serde_impl.rs
  boomerang_tinymap/src/lib.rs
  boomerang_tinymap/src/map/chunks.rs
  boomerang_tinymap/src/map/iter_many.rs
  boomerang_tinymap/src/map/mod.rs
  boomerang_tinymap/src/map/view.rs
  boomerang_tinymap/src/secondary_map/iter_many.rs
  boomerang_tinymap/src/secondary_map/mod.rs
  boomerang_tinymap/src/secondary_map/serde_impl.rs
Due: boomerang_tinymap

Path conditions:
  boomerang: any of: boomerang/**
  boomerang_builder: any of: boomerang_builder/**
  boomerang_runtime: any of: boomerang_runtime/**
  boomerang_tinymap: any of: boomerang_tinymap/**
  boomerang_util: any of: boomerang_util/**
